
.aui{
  html, body{
    height: auto;
  }
  &.ios{
    input[type="button"],
    input[type="submit"],
    input[type="reset"]{
      -webkit-appearance: initial !important;
    }
    input, textarea{
      max-width: 100% !important;
      width: auto;
      opacity: 1;
      border-radius:0;
      -webkit-appearance: initial !important;
    }
  }
  .container,{
   width: 1170px\9;
   max-width: 1170px;
  }
  .portlet-journal-content .journal-content-article{
    word-wrap: initial !important;
    -ms-word-break:initial !important;
    word-break: initial !important;
    word-break: initial !important;
    -moz-hyphens: none !important;
    hyphens: none !important;
    -webkit-hyphens: none !important;
  }
}
