@font-face {
    font-family: 'Telefonica-Bold';
    src: url($url + '/documents/80379/3985192/TelefonicaWeb-Bold.eot/44c2ff10-da60-4eb5-871f-730d072b0b31');
    src: local('0'),
    url($url + '/documents/80379/3985192/TelefonicaWeb-Bold.woff/3f9fd5db-8462-4736-9acb-ecea3c29eb8d') format('woff'),
    url($url + '/documents/80379/3985192/Telefonica-Bold.ttf/ee9d8ae6-77d5-48e7-be46-da18ce8f275d') format('truetype');
}


@font-face {
    font-family: 'TelefonicaCap-Regular';
    src: url($url + '/documents/80379/3987159/TelefonicaCapWeb-Regular.eot/9ede8b48-1455-42a7-864f-5c66e58a6a8f');
    src: local('0'),a
    url($url + '/documents/80379/3987159/TelefonicaCapWeb-Regular.woff/66bd7d45-5419-4d0e-aa05-210f605d2015') format('woff'),
    url($url + '/documents/80379/3987159/TelefonicaCap-Regular.ttf/1820ab07-190c-412f-84b0-f51d8f07efb1') format('truetype');
}

@font-face {
    font-family: 'Telefonica-ExtraLight';
    src: url($url + '/documents/80379/3987226/TelefonicaWeb-ExtraLight.eot/d3ef2c90-1520-4b1f-b921-208588c55df5');
    src: local('0'),
    url($url + '/documents/80379/3987226/TelefonicaWeb-ExtraLight.woff/cb477718-5405-4e58-bd61-b0f445285fa7') format('woff'),
    url($url + '/documents/80379/3987226/Telefonica-ExtraLight.ttf/f1a9dd53-6c0b-4148-9a2a-b0aea9e30e2e') format('truetype');
}

@font-face {
    font-family: 'Telefonica-Hand';
    src: url($url + '/documents/80379/3987293/TelefonicaWeb-Hand.eot/04dd7c8c-1c6c-4b01-9dbe-06aa8878746a');
    src: local('0'),
    url($url + '80379/3987293/TelefonicaWeb-Hand.woff/953efa68-f9e6-455f-a294-11768ba71d93') format('woff'),
    url($url + '/documents/80379/3987293/Telefonica-Hand.ttf/ad3b283b-00fa-4a6b-8e42-2d2e37d45fd0') format('truetype');
}

@font-face {
    font-family: 'Telefonica-Light';
    src: url($url + '/documents/80379/3987360/TelefonicaWeb-Light.eot/94af0f1c-b0bd-4dd9-9b07-c6c93510b381');
    src: local('0'),
    url($url + '/documents/80379/3987360/TelefonicaWeb-Light.woff/ee324492-87cd-42f2-a715-0b6eecc073ba') format('woff'),
    url($url + '/documents/80379/3987360/Telefonica-Light.ttf/4946e119-de84-4229-a770-e2912aae269c') format('truetype');
}

@font-face {
    font-family: 'Telefonica-Regular';
    src: url($url + '/documents/80379/3987427/TelefonicaWeb-Regular.eot/4fc273af-0a18-49d7-bea9-37f4b91ee09f');
    src: local('0'),
    url($url + '/documents/80379/3987427/TelefonicaWeb-Regular.woff/3221cf6a-a2a5-4ca4-9052-8930fed585d8') format('woff'),
    url($url + '/documents/80379/3987427/Telefonica-Regular.ttf/1e4c7db4-8eed-4f32-b153-d2c0f596a4c2') format('truetype');
}

@font-face {
    font-family: 'Telefonica-RegularItalic';
    src: url($url + '/documents/80379/3987494/TelefonicaWeb-RegularItalic.eot/577227eb-106f-4651-997d-79b787333dd1');
    src: local('0'),
    url($url + '/documents/80379/3987494/TelefonicaWeb-RegularItalic.woff/2adbe424-9606-41ca-94dd-b0e63ecd487b') format('woff'),
    url($url + '/documents/80379/3987494/Telefonica-RegularItalic.ttf/193c45ab-7207-4a2c-86d0-3b6cd47098f4') format('truetype');
}
