@font-face {
    font-family: 'MovistarHeadline';
    src: url('fonts/movistarheadline/movistarheadline-webfont.eot');
    src: local('0'),
    url('fonts/movistarheadline/movistarheadline-webfont.woff') format('woff'),
    url('fonts/movistarheadline/movistarheadline-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'MovistarHeadlineBold';
    src: url('fonts/movistarheadlinebold/movistarheadlinebold-webfont.eot');
    src: local('0'),
    url('fonts/movistarheadlinebold/movistarheadlinebold-webfont.woff') format('woff'),
    url('fonts/movistarheadlinebold/movistarheadlinebold-webfont.ttf') format('truetype');
}


@font-face {
    font-family: 'MovistarText';
    src: url('fonts/movistartext/movistartext-webfont.eot');
    src: local('0'),
    url('fonts/movistartext/movistartext-webfont.woff') format('woff'),
    url('fonts/movistartext/movistartext-webfontr.ttf') format('truetype');
}

@font-face {
    font-family: 'MovistarTextBold';
    src: url('fonts/movistartextbold/movistartextbold-webfont.eot');
    src: local('0'),
    url('fonts/movistartextbold/movistartextbold-webfont.woff') format('woff'),
    url('fonts/movistartextbold/movistartextbold-webfontr.ttf') format('truetype');
}