extends layout/layout
include layout/mixins


block htmlTitle
  title Listado de Contenidos no Estructurados
block importtop
  style.
    .aui html, .aui body{
      height:auto;
    }
    .aui .modulo-a .contenido-no-estructurado {
      max-width: 1170px;
      margin: 0 auto;
      padding: 30px 24px;
    }
    .aui .modulo-a .contenido-no-estructurado #listado code{
      margin-right:5px;
    }
    .aui .modulo-a .contenido-no-estructurado #listado ul{
      padding:0 10px;
      margin-left: 5px;
    }
    .aui .modulo-a .contenido-no-estructurado #listado p{
      font-size:14px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .aui .modulo-a .contenido-no-estructurado #listado ul li{
      list-style-type:decimal;
      font-weight: bold;
      margin-bottom:10px;
    }
    .aui .modulo-a .contenido-no-estructurado #listado ul li p{
      padding: 2px 0;
    }
    .aui .modulo-a .contenido-no-estructurado #listado ul li ul li{
      list-style-type:disc;
      font-weight: normal;
      margin-bottom:0px;
    }
    .aui .modulo-a .contenido-no-estructurado #listado ul li ul li ul{
      margin-left:10px;
    }
    .aui .modulo-a .contenido-no-estructurado #listado ul li ul li ul li{
      padding: 2px 0;
    }

block importbottom
  script(src="http://cdn.alloyui.com/2.0.0/aui/aui-min.js")


block content
  - url = "http://cms.movistar.com.pe"
  //- url = ""
  .aui
    #wrapper.modulo-a
      .contenido-no-estructurado
        //-a partir d de aca se copia al contenido Web
        .container(style="margin: 0 auto")
          #listado
            h2 Contenidos no estructurados en el repositorio
            ul
              li
                strong 4g Ilimitado
                ul
                  li Nombre de carpeta CNE:
                    strong 4g-ilimitado
                  li Nombre en el listado de Páginas:
                    strong 4G ilimitado
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/4g-ilimitado") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/4g-ilimitado
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Postpago/4G ilimitado
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Postpago/4G ilimitado
              li
                strong Información accesible: Tab-Alternativas de Atención al Cliente
                ul
                  li Nombre de carpeta CNE:
                    strong accesibilidad
                  li Nombre en el listado de Páginas:
                    strong Información accesible
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-atencion/accesibilidad") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-atencion/accesibilidad
                  li Ubicación del contenido en el CMS:
                    strong  Atención al Cliente/Canales de Atención/Accesibilidad
                  li Ubicación de Multimedia en el CMS:
                    strong Atención al Cliente/Canales de Atención/Accesibilidad
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesPlanesDisponibles
              li
                strong Mide tu velocidad
                ul
                  li Nombre de carpeta CNE:
                    strong mide-tu-velocidad
                  li Nombre en el listado de Páginas:
                    strong Medidor de Velocidad
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/mide-tu-velocidad") http://cms.movistar.com.pe/web/guest-staging/mide-tu-velocidad
                  li Ubicación del contenido en el CMS:
                    strong  Hogar/Productos/Internet/medidor-de-velocidad
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/Internet/medidor-de-velocidad
              li
                strong Angry Birds
                ul
                  li Nombre de carpeta CNE:
                    strong angry-birds
                  li Nombre en el listado de Páginas:
                    strong Pack Angrybirds
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/pack-angrybirds") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/pack-angrybirds
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Postpago/Promociones Postpago/Pack Angrybirds
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Postpago/Promociones Postpago/Pack Angrybirds
              li
                strong GOLPERU y CMD
                ul
                  li Nombre de carpeta CNE:
                    strong app-futbol-movistar
                  li Nombre en el listado de Páginas:
                    strong gol-peru-cmd
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/tv/gol-peru-cmd") http://cms.movistar.com.pe/web/guest-staging/hogar/tv/gol-peru-cmd
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/TV/GOLPERU
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/TV/GOLPERU
                  li Archivos Externos:
                    code http://servicios.movistar.com.pe/filesGolPeru/js/init-cmd.js
              li
                strong Aumenta tu velocidad de Internet
                ul
                  li Nombre de carpeta CNE:
                    strong aumenta-tu-velocidad
                  li Nombre en el listado de Páginas:
                    strong Velocidad de Internet
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/internet/aumenta-tu-velocidad") http://cms.movistar.com.pe/web/guest-staging/hogar/internet/aumenta-tu-velocidad
                  li Ubicación del contenido en el CMS:
                    strong Hogar»/Productos/Internet/{Crear Carpeta}
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/Internet/{Crear carpeta}

              li
                strong Centro de Ayuda
                ul
                  li Nombre de carpeta CNE:
                    strong ayuda-v2
                  li Nombre en el listado de Páginas:
                    strong Ayuda
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/ayuda") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/ayuda
                  li Ubicación del contenido en el CMS:
                    strong Atención al Cliente/Ayuda/Ayuda-V2
                  li Ubicación de Multimedia en el CMS:
                    strong Atención al Cliente/Ayuda/Ayuda-V2
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesAyudaV2

              li
                strong Beneficios contactos autorizados
                ul
                  li Nombre de carpeta CNE:
                    strong benficios-contactos
                  li Nombre en el listado de Páginas:
                    strong Beneficios contactos autorizados
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/negocio/beneficios-contactos-autorizados") http://cms.movistar.com.pe/web/guest-staging/negocio/beneficios-contactos-autorizados
                  li Ubicación del contenido en el CMS:
                    strong Negocio/Productos/Transversal/Beneficios Contactos Autorizados
                  li Ubicación de Multimedia en el CMS:
                    strong Negocio/Productos/Transversal/Beneficios Contactos Autorizados


              li
                strong Beneficios Ilimitados
                ul
                  li Nombre de carpeta CNE:
                    strong benficios-ilimitados
                  li Nombre en el listado de Páginas:
                    strong beneficios-ilimitados
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/prepago/promociones/beneficios-ilimitados") http://cms.movistar.com.pe/web/guest-staging/movil/prepago/promociones/beneficios-ilimitados
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Prepago/Promociones Prepago/Beneficios Ilimitados/Promo Beneficios Ilimitados
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Prepago/Promociones Prepago/Beneficios Ilimitados/Promo Beneficios Ilimitados
              li
                strong Caceria de Premios App Mi Movistar
                ul
                  li Nombre de carpeta CNE:
                    strong caceria-premios
                  li Nombre en el listado de Páginas:
                    strong Caceria de Premios
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/caceria-de-premios") http://cms.movistar.com.pe/web/guest-staging/caceria-de-premios
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Transversal/caceria-premios
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Transversal/caceria-premios
                  li Archivos Externos:
                    code http://servicios.movistar.com.pe/filesCaceria-premios/

              li
                strong Cambio de chip 4G
                ul
                  li Nombre de carpeta CNE:
                    strong cambio-de-chip-4g
                  li Nombre en el listado de Páginas:
                    strong Cambio de chip 4G
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/cambio-de-chip-4g") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/cambio-de-chip-4g
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Postpago/cambio-de-chip-4G
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Postpago/cambio-de-chip-4G

              li
                strong Cambio de Plan Mi Movistar
                ul
                  li Nombre de carpeta CNE:
                    strong cambio-plan-movistar
                  li Nombre en el listado de Páginas:
                    strong Cambio de Plan Mi Movistar
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/cambio-de-plan-mi-movistar") http://cms.movistar.com.pe/web/guest-staging/cambio-de-plan-mi-movistar
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Transversal/Cambio de Plan Mi Movistar/version02
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Transversal/Cambio de Plan Mi Movistar/version02
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesCambioDePlan/
              li
                strong Lugares y medios de pago
                ul
                  li Nombre de carpeta CNE:
                    strong campana-interbank
                  li Nombre en el listado de Páginas:
                    strong Lugares y medios de pago
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-de-atencion/lugares-y-medios-de-pago") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-de-atencion/lugares-y-medios-de-pago
                  li Ubicación del contenido en el CMS:
                    strong Atención al Cliente/Canales de Atención»/Tienda/
                  li Ubicación de Multimedia en el CMS:
                    strong Atención al Cliente/Canales de Atención»/Tienda/campaña-interbank
              li
                strong Gana con mi Movistar y Promoción Mi Movistar
                ul
                  li Nombre de carpeta CNE:
                    strong campana-movistar
                  li Nombre en el listado de Páginas:
                    ul
                      li Para:
                        code index-CampanaMovistar.jade
                        strong Gana con mi Movistar

                      li Para:
                        code campana-mayo.jade
                        strong  Promoción Movistar Ripley
                  li URL del CMS:
                    ul
                      li Para:
                        code index-CampanaMovistar.jade
                        a(href="http://cms.movistar.com.pe/web/guest-staging/surp-gana-con-mi-movistar") http://cms.movistar.com.pe/web/guest-staging/surp-gana-con-mi-movistar
                      li Para:
                        code campana-mayo.jade
                        a(href="http://cms.movistar.com.pe/web/guest-staging/promocion-mi-movistar-ripley") http://cms.movistar.com.pe/web/guest-staging/promocion-mi-movistar-ripley
                  li Ubicación del contenido en el CMS:
                    ul
                      li Para:
                        code index-CampanaMovistar.jade
                        strong Movil/Productos/Transversal/Gana con mi Movistar
                      li Para:
                        code campana-mayo.jade
                        strong Movil/Productos/Transversal/Promocion Movistar Ripley
                  li Ubicación de Multimedia en el CMS:
                    ul
                      li Para:
                        code index-CampanaMovistar.jade
                        strong Movil/Productos/Transversal/Gana con mi Movistar
                      li Para:
                        code campana-mayo.jade
                        strong Movil/Productos/Transversal/Promocion Movistar Ripley

              li
                strong Duplícate
                ul
                  li Nombre de carpeta CNE:
                    strong campania-sur
                  li Nombre en el listado de Páginas:
                    strong Sur
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/campana-sur") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/campana-sur
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Postpago/Promociones Postpago/campania sur
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Postpago/Promociones Postpago/campania sur
              li
                strong Mi Movistar
                ul
                  li Nombre de carpeta CNE:
                    strong canales-atencion-mi-movistar
                  li Nombre en el listado de Páginas:
                    strong Mi Movistar
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-atencion/mimovistar") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-atencion/mimovistar
                  li Ubicación del contenido en el CMS:
                    strong Atención al Cliente/Canales de Atención/Autoatención/Mi.Movistar
                  li Ubicación de Multimedia en el CMS:
                    strong Atención al Cliente/Canales de Atención/Autoatención/Mi.Movistar
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/files-mimovistar-cne/vendor/easyResponsiveTabs.js

              li
                strong Paquetes de Canales HD
                ul
                  li Nombre de carpeta CNE:
                    strong canales-hd
                  li Nombre en el listado de Páginas:
                    strong Paquetes HD
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/tv/paquetes-hd") http://cms.movistar.com.pe/web/guest-staging/hogar/tv/paquetes-hd
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/TV/Adicionales TV/Canales HD/version3
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/TV/Adicionales TV/Canales HD/version3

              li
                strong Trío Movistar: Agrega TV
                ul
                  li Nombre de carpeta CNE:
                    strong completatrio
                  li Nombre en el listado de Páginas:
                    strong Completa tu trío
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/completa-tu-trio") http://cms.movistar.com.pe/web/guest-staging/completa-tu-trio
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/Transversal/completa tu trio
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/TV/completa tu trio

              li
                strong Recomienda App mi Movistar
                ul
                  li Nombre de carpeta CNE:
                    strong concurso-sharefb
                  li Nombre en el listado de Páginas:
                    strong --Eliminado--
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/recomienda-app-mi-movistar") http://cms.movistar.com.pe/web/guest-staging/recomienda-app-mi-movistar
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/Transversal/completa tu trio
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/TV/completa tu trio


              li
                strong TV Digital
                ul
                  li Nombre de carpeta CNE:
                    strong digitalizacion
                  li Nombre en el listado de Páginas:
                    strong Cambio de Plan Mi Movistar
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/tv/digital") http://cms.movistar.com.pe/web/guest-staging/hogar/tv/digital
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/TV/Digitalización/version2
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/TV/Digitalización/version2
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesDigitalizacionv2

              li
                strong RPM
                ul
                  li Nombre de carpeta CNE:
                    strong directorio-rpm
                  li Nombre en el listado de Páginas:
                    strong Directorio RPM
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/directorio-rpm") http://cms.movistar.com.pe/web/guest-staging/movil/directorio-rpm
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/TV/Digitalización/version2
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/TV/Digitalización/version2
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/files-directorio-rpm/js/v3/


              li
                strong Cambio de Plan Larga Distancia
                ul
                  li Nombre de carpeta CNE:
                    strong distancia
                  li Nombre en el listado de Páginas:
                    strong Mi Movistar
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/telefono-fijo/cambio-plan-larga-distancia") http://cms.movistar.com.pe/web/guest-staging/hogar/telefono-fijo/cambio-plan-larga-distancia
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/Telefono Fija/Plan larga distancia
                  li Ubicación de Multimedia en el CMS:
                    strong Hogar/Productos/Telefono Fija/Plan larga distancia
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/plan_larga_distancia
              li
                strong Star Wars - Dubai
                ul
                  li Nombre de carpeta CNE:
                    strong dubai
                  li Nombre en el listado de Páginas:
                    strong Star Wars
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/star-wars") http://cms.movistar.com.pe/web/guest-staging/star-wars
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/Telefono Fija/Plan larga distancia
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Transversal/starwars/dubai
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/starwarsdubai

              li
                strong Dúo: Internet y Teléfono Fijo
                ul
                  li Nombre de carpeta CNE:
                    strong duo-internet-telefono
                  li Nombre en el listado de Páginas:
                    strong Internet y Teléfono Fijo
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/internet/internet-telefono-fijo") http://cms.movistar.com.pe/web/guest-staging/hogar/internet/internet-telefono-fijo
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/Internet/Planes Internet/Internet_Teléfono Fijo
                  li Ubicación de Multimedia en el CMS:
                    strong  Hogar/Productos/Internet/Planes Internet/Internet + Teléfono Fijo


              li
                strong GeoGestión
                ul
                  li Nombre de carpeta CNE:
                    strong geogestion
                  li Nombre en el listado de Páginas:
                    strong GeoGestión
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/negocio/soluciones/geo-gestion") http://cms.movistar.com.pe/web/guest-staging/negocio/soluciones/geo-gestion
                  li Ubicación del contenido en el CMS:
                    strong Negocio/Productos/Más soluciones/Conectividad/GeoGestion
                  li Ubicación de Multimedia en el CMS:
                    strong  Negocio/Productos/Más Soluciones/internet y conectividad/GeoGestion
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesInternetSeguro/

              li
                strong Gol Perú CMD
                ul
                  li Nombre de carpeta CNE:
                    strong golperucmd
                  li Nombre en el listado de Páginas:
                    strong gol-peru-cmd
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/tv/gol-peru-cmd") http://cms.movistar.com.pe/web/guest-staging/hogar/tv/gol-peru-cmd
                  li Ubicación del contenido en el CMS:
                    strong Hogar/Productos/TV/GOLPERU
                  li Ubicación de Multimedia en el CMS:
                    strong  Hogar/Productos/TV/GOLPERU
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesGolPeru/
              li
                strong Identifica tu Chip
                ul
                  li Nombre de carpeta CNE:
                    strong identifica-tu-chip
                  li Nombre en el listado de Páginas:
                    strong Tipos de Chip SIM CARD
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/sim-card-chip") http://cms.movistar.com.pe/web/guest-staging/movil/sim-card-chip
                  li Ubicación del contenido en el CMS:
                    strong Movil/Productos/Transversal/Identifica tu Chip
                  li Ubicación de Multimedia en el CMS:
                    strong Movil/Productos/Transversal/Identifica tu Chip
              li
                strong Intelbras pack
                ul
                  li Nombre de carpeta CNE:
                    strong intelbras-pack
                  li Nombre en el listado de Páginas:
                    strong Intelbras Pack
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/negocio/para-tu-oficina/intelbras-pack") http://cms.movistar.com.pe/web/guest-staging/negocio/para-tu-oficina/intelbras-pack
                  li Ubicación del contenido en el CMS:
                    strong Negocio/Productos/Para tu Oficina/Centrales telefónicas/Intelbras pack
                  li Ubicación de Multimedia en el CMS:
                    strong  Negocio/Productos/Para tu Oficina/Centrales telefónicas/Intelbras pack
              li
                strong Promo día del padre
                ul
                  li Nombre de carpeta CNE:
                    strong landing-abonos
                  li Nombre en el listado de Páginas:
                    strong Promo día del padre
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/promo-dia-del-padre") http://cms.movistar.com.pe/web/guest-staging/promo-dia-del-padre
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/1.1.5.promo-dia-del-padre
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Transversal/1.1.5.promo-dia-del-padre
              li
                strong X-Men
                ul
                  li Nombre de carpeta CNE:
                    strong  landing-xmen
                  li Nombre en el listado de Páginas:
                    strong  x-men
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/x-men") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/x-men
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Postpago/Promociones Postpago/Landing X-Men
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Postpago/Promociones Postpago/Landing X-Men
                  li Archivos externos:
                    code  http://servicios.movistar.com.pe/filesLandingXmen/landing-xmen.j

              li
                strong Mi primera Laptop
                ul
                  li Nombre de carpeta CNE:
                    strong  mi-primera-laptop
                  li Nombre en el listado de Páginas:
                    strong  mi-primera-laptop
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/mi-primera-laptop") http://cms.movistar.com.pe/web/guest-staging/hogar/mi-primera-laptop
                  li Ubicación del contenido en el CMS:
                    strong  Hogar/Transversal/Mi Primera Laptop
                  li Ubicación de Multimedia en el CMS:
                    strong  Hogar/Productos/Transversal/Mi Primera Laptop
              li
                strong Mide tu Velocidad
                ul
                  li Nombre de carpeta CNE:
                    strong  mide-tu-velocidad
                  li Nombre en el listado de Páginas:
                    strong  Medidor de Velocidad
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/mide-tu-velocidad") http://cms.movistar.com.pe/web/guest-staging/mide-tu-velocidad
                  li Ubicación del contenido en el CMS:
                    strong  Hogar/Productos/Internet/medidor-de-velocidad
                  li Ubicación de Multimedia en el CMS:
                    strong  Hogar/Productos/Internet/medidor-de-velocidad
              li
                strong Mis Saldos
                ul
                  li Nombre de carpeta CNE:
                    strong  mis-saldos
                  li Nombre en el listado de Páginas:
                    strong  Mis Saldos
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/mis-saldos") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/mis-saldos
                  li Ubicación del contenido en el CMS:
                    strong  Atención al Cliente/Ayuda/Mis Saldos
                  li Ubicación de Multimedia en el CMS:
                    strong  Atención al Cliente/Ayuda/Mis Saldos

              li
                strong Internet Seguro Negocios
                ul
                  li Nombre de carpeta CNE:
                    strong  negocio-soluciones-internet-negocios
                  li Nombre en el listado de Páginas:
                    strong  Mis Saldos
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/negocio/para-tu-oficina/internet-seguro") http://cms.movistar.com.pe/web/guest-staging/negocio/para-tu-oficina/internet-seguro
                  li Ubicación del contenido en el CMS:
                    strong  Inicio/Negocio/Internet seguro negocios
                  li Ubicación de Multimedia en el CMS:
                    strong  Negocio/Productos/Más Soluciones/InternetNegocios
                  li Archivos externos:
                    code  http://servicios.movistar.com.pe/filesInternetSeguro/

              li
                strong Paquete de datos
                ul
                  li Nombre de carpeta CNE:
                    strong  paquetes-moviles
                  li Nombre en el listado de Páginas:
                    strong  Paquete de Datos
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/adicionales/paquete-de-datos") http://cms.movistar.com.pe/web/guest-staging/movil/adicionales/paquete-de-datos
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Adicionales/Paquetes de Datos
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Adicionales/Paquetes de Datos
                  li Archivos externos:
                    code  http://servicios.movistar.com.pe/paquetes-moviles/js/paquetes-moviles-v2.js

              li
                strong Peru-Argentina
                ul
                  li Nombre de carpeta CNE:
                    strong  peru-agentina
                  li Nombre en el listado de Páginas:
                    strong  Peru-Argentina
                  li URL del CMS:
                    a(href="http://cms.movistar.com.pe/web/guest-staging/movil/prepago/promociones/peru-argentina") http://cms.movistar.com.pe/web/guest-staging/movil/prepago/promociones/peru-argentina
                  li Ubicación del contenido en el CMS:
                    strong  Productos/PrePago/Promociones Prepago/Peru - Argentina
                  li Ubicación de Multimedia en el CMS:
                    strong  Productos/PrePago/Promociones Prepago/Peru - Argentina

              li
                strong Información accesible: Tab-Planes disponibles
                ul
                  li Nombre de carpeta CNE:
                    strong planes-disponibles
                  li Nombre en el listado de Páginas:
                    strong Información accesible
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-atencion/accesibilidad") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/canales-atencion/accesibilidad
                  li Ubicación del contenido en el CMS:
                    strong  Atención al Cliente/Canales de Atención/Accesibilidad
                  li Ubicación de Multimedia en el CMS:
                    strong Atención al Cliente/Canales de Atención/Accesibilidad
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/filesPlanesDisponibles

              li
                strong Planes Caribu
                ul
                  li Nombre de carpeta CNE:
                    strong  planescaribu
                  li Nombre en el listado de Páginas:
                    strong  caribu
                  li URL del CMS:
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/prepago/oferta-especial") http://cms.movistar.com.pe/web/guest-staging/movil/prepago/oferta-especial
                  li Ubicación del contenido en el CMS:
                    strong  ---
                  li Ubicación de Multimedia en el CMS:
                    strong  ---


              li
                strong Preventa Iphone 6S
                ul
                  li Nombre de carpeta CNE:
                    strong  preventa-iphone6s
                  li Nombre en el listado de Páginas:
                    strong  ---
                  li URL del CMS:
                    span
                      a(href="---") ---
                  li Ubicación del contenido en el CMS:
                    strong  ---
                  li Ubicación de Multimedia en el CMS:
                    strong  ---
                  li Archivos externos:
              li
                strong Preventa LG G5
                ul
                  li Nombre de carpeta CNE:
                    strong  preventa-LG-G5
                  li Nombre en el listado de Páginas:
                    strong  Lg G5 proximamente
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/lg-g5-proximamente") http://cms.movistar.com.pe/web/guest-staging/movil/lg-g5-proximamente
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/Preventa LG G5
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Transversal/Preventa LG G5
              li
                strong Priority Tribono
                ul
                  li Nombre de carpeta CNE:
                    strong  priority tribono
                  li Nombre en el listado de Páginas:
                    strong  Priority Tribono
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/priority-tribono") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/priority-tribono
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Postpago/Promociones Postpago/priority-tribono
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Postpago/Promociones Postpago/priority-tribono
              li
                strong Qustodio
                ul
                  li Nombre de carpeta CNE:
                    strong  qustodio-controlparental
                  li Nombre en el listado de Páginas:
                    strong  Qustodio control parental
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/internet/qustodio-control-parental") http://cms.movistar.com.pe/web/guest-staging/hogar/internet/qustodio-control-parental
                  li Ubicación del contenido en el CMS:
                    strong  Hogar/Productos/Internet/qustodio-control-parental
                  li Ubicación de Multimedia en el CMS:
                    strong   Hogar/Productos/Internet/qustodio-control-parental


              li
                strong Renovación Especial
                ul
                  li Nombre de carpeta CNE:
                    strong  renovacion-especial
                  li Nombre en el listado de Páginas:
                    strong  --
                  li URL del CMS:
                    span
                      a(href="#") --
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/renovacion-especial
                  li Ubicación de Multimedia en el CMS:
                    strong   Movil/Productos/Transversal/renovacion especial
              li
                strong Renovar mi Equipo Celular: Variante principal
                ul
                  li Nombre de carpeta CNE:
                    strong  renueva-tu-equipo
                  li Nombre en el listado de Páginas:
                    strong  Renovar mi Equipo Celular
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/renueva-tu-equipo?validacion") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/renueva-tu-equipo?validacion
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Postpago/Renueva tu postpago/version2
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Postpago/Renueva tu postpago

              li
                strong Renovar mi Equipo Celular: version2
                ul
                  li Nombre de carpeta CNE:
                    strong  renovacion
                  li Nombre en el listado de Páginas:
                    strong  Renovar mi Equipo Celular
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/renueva-tu-equipo?validacion") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/renueva-tu-equipo?validacion
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Postpago/Renueva tu postpago/version2
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Postpago/Renueva tu postpago

              li
                strong San Juan
                ul
                  li Nombre de carpeta CNE:
                    strong  san-juan
                  li Nombre en el listado de Páginas:
                    strong  Festividades Provincia
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/festividades-provincias") http://cms.movistar.com.pe/web/guest-staging/movil/festividades-provincias
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/Festividad Provincia
                  li Ubicación de Multimedia en el CMS:
                    strong   Movil/Productos/Transversal/Festividad Provincia
              li
                strong Suicide Squad
                ul
                  li Nombre de carpeta CNE:
                    strong  suicide-squad
                  li Nombre en el listado de Páginas:
                    strong  Suicide Squad
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/suicide-squad") http://cms.movistar.com.pe/web/guest-staging/movil/postpago/promociones/suicide-squad
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Postpago/Promociones Postpago/Landing-Suicide-Squad
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Postpago/Promociones Postpago/Landing Suicide squad

              li
                strong Superchip 29
                ul
                  li Nombre de carpeta CNE:
                    strong  superchip29
                  li Nombre en el listado de Páginas:
                    strong  Superchip 29.90
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/planes-superchip") http://cms.movistar.com.pe/web/guest-staging/planes-superchip
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/Superchip29
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Transversal/Superchip29

              li
                strong Test Tienda Hogar
                ul
                  li Nombre de carpeta CNE:
                    strong  tienda-online-hogar
                  li Nombre en el listado de Páginas:
                    strong  Test-Tienda-Hogar
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/test-tienda-hogar") http://cms.movistar.com.pe/web/guest-staging/test-tienda-hogar
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/Test-Tienda-Hogar
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Transversal/Test-Tienda-Hogar
                  li Archivos externos:
                    code  http://servicios.movistar.com.pe/test-tienda-hogar

              li
                strong Todo Poderoso
                ul
                  li Nombre de carpeta CNE:
                    strong  todopoderoso
                  li Nombre en el listado de Páginas:
                    strong  Todopoderoso
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/movil/prepago/promociones/todopoderoso") http://cms.movistar.com.pe/web/guest-staging/movil/prepago/promociones/todopoderoso
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/PrePago/Promociones Prepago/Todopoderoso
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Prepago/Promociones Prepago/Todopoderoso

              li
                strong Trío: Internet, Teléfono Fijo y TV
                ul
                  li Nombre de carpeta CNE:
                    strong  trio-internet-telefono-tv
                  li Nombre en el listado de Páginas:
                    strong  Internet, Teléfono Fijo y TV
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/hogar/internet/internet-telefono-fijo-tv") http://cms.movistar.com.pe/web/guest-staging/hogar/internet/internet-telefono-fijo-tv
                  li Ubicación del contenido en el CMS:
                    strong  Hogar/Productos/Internet/Planes Internet/Internet_Teléfono Fijo_TV
                  li Ubicación de Multimedia en el CMS:
                    strong  Hogar/Productos/Internet/Planes Internet/Internet_Teléfono Fijo_TV

              li
                strong Tu Movistar
                ul
                  li Nombre de carpeta CNE:
                    strong  tu-movistar
                  li Nombre en el listado de Páginas:
                    strong  TU GO
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/tu-de-movistar") http://cms.movistar.com.pe/web/guest-staging/tu-de-movistar
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/TU Go
                  li Ubicación de Multimedia en el CMS:
                    strong  Movil/Productos/Prepago/Promociones Prepago/Todopoderoso

              li
                strong Videos Educativos
                ul
                  li Nombre de carpeta CNE:
                    strong  videos-educativos
                  li Nombre en el listado de Páginas
                    strong  Videos Educativos
                  li URL del CMS:
                    span
                      a(href="http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/videos-educativos") http://cms.movistar.com.pe/web/guest-staging/atencion-al-cliente/videos-educativos
                  li Ubicación del contenido en el CMS:
                    strong  Atención al Cliente/landing_videos
                  li Ubicación de Multimedia en el CMS:
                    strong Atención al Cliente/landing_videos
                  li Archivos externos:
                    code http://servicios.movistar.com.pe/landing-videoseducativos
              li
                strong Volte
                ul
                  li Nombre de carpeta CNE:
                    strong  volte
                  li Nombre en el listado de Páginas:
                    strong  --
                  li URL del CMS:
                    span
                      a(href="#") --
                  li Ubicación del contenido en el CMS:
                    strong  Movil/Productos/Transversal/volte
                  li Ubicación de Multimedia en el CMS:
                    strong   Movil/Productos/Transversal/volte
