$url:'http://cms.movistar.com.pe/';
//$url:'';
@import "compass/css3";
@import "../utiles/flexslider";

.aui {
  .formBox{
    display: none;

  }
  //Box llego nuevo iphone
  #myTab{
    p{
      word-wrap: break-word !important;
      -ms-word-break: break-word;
           word-break: break-word;
    }
    sub{
      top: -0.35em;
    }
    .boxllego{
      padding: 0 60px;
      margin-bottom: 10px;
      margin-top: 10px;
      img{
        max-width: 100%;
      }
      h3{
        color:#0086c3;
        font-size: 36px;
        line-height: normal;
      }
      .boxtext{
        p{
          font-size: 18px;
          margin: 18px 0;
          color:#797C7F;
          font-family: 'MovistarText';
          line-height: normal;
          -moz-hyphens:none;
          -ms-hyphens:none;
          -webkit-hyphens:none;
          -o-hyphens:none;
          hyphens:none;
          word-wrap: break-word !important;
          .pint{
            font-size: 20px;
            color:#000000;
          }
        }
      }
      .btnlink{
        font-family: 'MovistarHeadline';
        font-size: 20px;
        font-weight: bold;
        color:#ffffff;
        background-color: #2097d8;
        padding: 2px 60px;
        display: inline-block;
        margin:14px 0;
        border: 0;
        width: auto;
        line-height: 34px;
        background-image: url($url+"/documents/80379/2947559/bglie_btn.jpg/f9167ca3-87ab-4271-9263-791682dce647?t=1444151683773");
        background-repeat: repeat-x;
        background-position: top;
        background-color: #0285d4;
        @include border-radius(6px);
      }
    }
    .slider-smartphone{
      #carousel {
        padding-left: 4%;
        display: inline-block;
        vertical-align: top;
        max-width: 120px;
        width: 100%;
        margin-top: 10px;
        .slides {
          width: 100% !important;
          max-width: 300px;
          transform: initial !important;
          transform: translate3d(0px, 0px, 0px)!important;
          margin-left: 0 !important;
          li {
            width: 120px;
            height: 66px;
            overflow: hidden;
            text-align: center;
            margin: 5px 0;
            cursor: pointer;
            img{
              position: relative;
            }
            &:hover{
              img{
                top: -66px;
              }
            }
            &.flex-active-slide{
              img{
                top: -66px;
              }
            }
          }
        }
      }
      #slider {
        width: 64%;
        left: 0%;
        padding: 0 0 0 0;
        display: inline-block;
        vertical-align: top;
      }
      .slides > li{
        height: 100%;
        margin: 0;
        padding: 0;
      }
    }
    .boxlegal{
      padding: 0 55px;
    }
    .boxcaracteristica{
      padding: 0 55px;
      margin-bottom: 20px;
      .btncaract{
        width: 100%;
        padding: 9px 14px;
        line-height: normal;
        position: relative;
        font-family: 'MovistarHeadline';
        cursor: pointer;
        background-image: url($url+"/documents/80379/2947559/bglie_btn.jpg/f9167ca3-87ab-4271-9263-791682dce647?t=1444151683773");
        background-repeat: repeat-x;
        background-position: top;
        background-color: #0285d4;
        @include border-radius(8px);
        p{
          margin: 0;
          font-size: 18px;
          color:#fff;
          font-weight: bold;
        }
        span.ico{
          position: absolute;
          right: 10px;
          top:6px;
          margin:0;
          width: 29px;
          height: 29px;
          background-image: url($url+"/documents/80379/2947559/more_carac.png/849adcaf-a14d-47ad-9bff-9181fd4b026e?t=1445900976539");
          background-position: 0 0;
        }
        &.active{
          span.ico{
            background-position: 0 -29px;
          }
        }
      }
      .content-caract{
        margin-top: 34px;
        display: none;
        .first{
          display: none;
        }
        .boximg{
          img{
            max-width: 100%;
            position: relative;
          }
        }
        .boxtext{
          padding: 50px 0;
          position: relative;
          p{
            font-size: 18px;
            font-family: 'MovistarText';
            line-height: 24px;
            color:#878787;
          }
          &.pdright{

          }
        }
        .boxtwo{
          margin-bottom: 20px;
          .boximg{
            position: relative;
            margin-top: -90px;
          }
        }
        .boxthree{
          position: relative;
        }
      }
    }
  }

  // Banner stick
  .morestick{
    margin: 8px 0;
  }
  .bannerstick{
    background-color: #2e9cce;
    padding: 10px 0;
    width: 96%;
    margin: 0 auto;
    [class*="span"]{
      margin-bottom: 0;
    }
    p{
      color: #fff;
      font-size: 14px;
    }
    .boxtext{
      padding:8px 8px 0 8px;
      text-align: left;
    }
  }

  p.text {
    color: #515559;
    font-family: 'MovistarText';
    font-weight: normal;
    font-size: 18px;
  }
  h3 {
    font-family: 'MovistarText';
    font-size: 24px;
    font-weight: normal;
    color: #005c84;
    margin: 15px 0;
  }
  .button {
    display: inline-block;
    cursor: pointer;
    background-color: #005c84;
    width: auto;
    padding: 8px 30px;
    p.button-text {
      display: inline-block;
      vertical-align: middle;
      font-family: 'MovistarHeadline';
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      width: auto;
      margin: 0;
    }
  }
  .container {
    width: 100% !important;
  }
  .info {
    margin: 0;
    color: #686a6c;
    font-size: 14px;
    padding: 0 10px;
    -moz-hyphens:none;
    -ms-hyphens:none;
    -webkit-hyphens:none;
    -o-hyphens:none;
    hyphens:none;
    word-wrap: break-word !important;
  }
  .row-fluid.mb {
    display: none;
    margin-bottom: 0 !important;
  }
  .wrapper-checked {
    height: 26px;
  }
  .disabled {
    @include opacity(0.5);
    select{
      cursor: not-allowed !important;
    }
  }
  .inputdisable{
    display: none;
  }
  .center-block {
    margin: 0 auto;
    display: block !important;
  }
  .dn {
    display: none;
  }
  .mt20 {
    margin-top: 20px;
  }
  .banner-wrapper {
    padding-bottom: 26px;
    position: relative;
    h2{
      margin: 0 0 0 0;
      color:#231f20;
      font-size: 36px;
      width: 410px;
      line-height: 42px;
      font-family: 'MovistarText';
      position: absolute;
      z-index: 2;
      top: 70px;
      left: 36px;
    }
    .boxtext{
      position: absolute;
      left: 36px;
      top: 165px;
      .subtitle{
        color:#231f20;
        font-size: 28px;
        line-height: normal;
        font-family: 'MovistarText';
      }
      .btnlink{
        font-family: 'MovistarHeadline';
        font-size: 20px;
        font-weight: bold;
        color:#ffffff;
        padding: 7px 30px;
        display: inline-block;
        margin:14px 0;
        background-image: url($url+"/documents/80379/2947559/bglie_btn.jpg/f9167ca3-87ab-4271-9263-791682dce647?t=1444151683773");
        background-repeat: repeat-x;
        background-position: top;
        background-color: #0285d4;
        @include border-radius(6px);
      }
    }
    .banner {
      margin: 0 auto;
      width: 100%
    }
  }
  #myTab {
    .tab-content {
      overflow: hidden;
    }
    .nav-tabs {
      border: 0px;
      padding: 0 50px;
    }
    .itemsacordeon{
      padding: 0 55px;
      .boxacordeon{
        padding: 0 10px;
      }
    }
    .boxpasos{
      padding: 0 55px;
      margin-bottom: 20px;
      .boxmore{
        text-align: right;
        display: none;
        .btnmore{
          font-size: 18px;
          color:#0086c3;
          text-decoration: none;
          font-family: "MovistarText";
          font-weight: bold;
          display: inline-block;
          span{
            display: inline-block;
            vertical-align: middle;
          }
          .arrow{
            width: 29px;
            height: 29px;
            background-image: url($url+'/documents/80379/2947559/icomore_toogle.png/4533e0a3-b2fe-4096-adbc-a0ff39bc0587?t=1444856202394');
            margin-left: 4px;
            background-position: 0 0;
          }
          &.active{
            .arrow{
              background-position: 0 -29px;
            }
          }
        }
      }
      p{
        color: #6C6C6C;
      }
      .itembox{
        margin: 6px 0;
        text-align: center;
        padding: 0 16px;
      }
      .boxicon{
        text-align: center;
        margin-bottom: 6px;
        img{
          display: inline-block;
          max-width: 100%;
          padding: 0 4px 0 0;
        }
      }
      .title{
        margin: 0 0 20px 0;
        font-size: 18px;
      }
      .contentpasos{
        padding: 20px;
        background-color: #ebf6fa;
        .online{
          line-height: 42px;
        }
        a{
          line-height: normal;
          border:0;
          background-color: transparent;
          color:#0086c3;
          display: block;
          text-decoration: underline;
        }
      }
    }
    li {
      width: 50%;
      height: 50px;
      font-size: 18px;
      padding: 0 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &.active {
        height: 50px;
        a {
          background-image: url($url+'/documents/80379/2947559/arrow_tab.png/9e34264a-757b-4ee3-8cd9-012bf56fe9d6?t=1444151681897');
          background-position: center bottom;
          background-repeat: no-repeat;
          background-color: #9C9C9C;
          color:#ffffff;
          border: 0px;
        }
      }
      &.brn {
        border-right: 0px;
      }
    }
    a {
      &.link {
        line-height: 14px;
      }
      background-color: #ffffff;
      padding: 0;
      cursor: pointer;
      text-align: center;
      border-radius: 0;
      color: #9C9C9C;
      line-height: 50px;
      border: 1px solid #9C9C9C;
      @include transition(background-color 0.3s ease-in-out);
      @include transition(color 0.3s ease-in-out);
      @include border-radius(10px);
      &:focus, &:hover {
        outline: none;
      }
    }
  }
  .wrapper-form {
    margin: 0 auto;
    .formError{
      input[type="text"]{
        border: 1px solid #ff0000;
        box-shadow: inherit;
        outline: none;
      }
      .pulldown{
        border: 1px solid #ff0000;
      }
    }
    .input50{
      max-width: 440px;
      margin: 0 auto;
      .trform{
        margin-bottom: 0;
        width: 172px\9;
      }
      .pulldown{
        margin-left:-5px\9;
        margin-right:-5px\9;
      }
    }
    .textitle{
      padding: 0 10px;
      font-size: 16px;
      color: #686a6c;
      span.valid{
        display: block;
        font-size: 14px;
      }
    }
    .bigiphone{
      text-align: center;
    }
    .trform {
      width: 100%;
      margin: 0 auto;
      max-width: 440px;
      margin-bottom: 14px;
      position: relative;
      padding: 0 8px;
      label{
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 14px;
        color: #999;
        margin:0 0 0 0;
        font-family: "MovistarText";
        cursor: text;
        z-index: 1;
      }
    }
    .wrapper-text {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
      color: #686a6c;
      font-size: 16px;
      padding: 0 10px;
      strong {
        color: #898989;
      }
    }
    .wrapper-error {
      margin: 2px 0 0 2%;
      color: red;
      font-size: 12px;
    }
    .col1 {
      width: 100%;
      .trform {
        float: right;
        margin-right: 16px;
      }
    }
    .col2 {
      width: 100%;
      .trform {
        margin-left: 16px;
      }
    }
    .label {
      color: #4e5459;
      font-size: 12px;
      background-color: transparent;
      text-shadow: none;
      font-weight: normal;
      a {
        color: #5cd2ed !important;
        background-color: transparent !important;
        text-decoration: underline !important;
        border: 0 !important;
      }
    }
    a {
      color: #5cd2ed;
      text-decoration: none;
    }
    input[readonly="true"]{
      @include opacity(0.5);
    }
    input[disabled]{
      @include opacity(0.5);
    }
    input[type="text"], .pulldown {
      width: 100%;
      height: 34px;
      line-height: 28px;
      border: 1px solid #b9b8b3;
      border-radius: 4px;
      color: #4e5458;
      font-family: "MovistarText";
      font-size: 14px;
      padding: 0 0 0 8px;
    }
    input[type="text"].error, .pulldown.error {
      border-color: red;
    }
    input[type="text"] {
      margin: 0;
      background-color: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: transparent\9;
      background-image: url('../images/transparent.png')\9;
      background-repeat: repeat;
      position: relative;
      z-index: 2;
      &.w50 {
        width: 48%;
        float: left;
      }
      &.mr {
        margin-right: 4%;
      }
    }
    .btn {
      width: 135px;
      height: 36px;
      padding: 8px 0;
      color: #fff;
      cursor: pointer;
      background-image: url($url+'/documents/80379/2947559/bglie_btn.jpg/f9167ca3-87ab-4271-9263-791682dce647?t=1444151683773');
      background-repeat: repeat-x;
      background-position: 0 0;
      font-size: 18px;
      border: 0;
      font-weight: normal;
      @include border-radius(6px);
      &:hover, &:focus {
        outline: none;
        background-position: 0 0;
      }
    }
    .checkbox {
      width: 22px;
      height: 22px;
      border: 1px solid #b9b8b3;
      border-radius: 4px;
      margin: 2px 10px 2px 0;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      padding: 0;
      input[type="checkbox"] {
        opacity: 0;
        filter: alpha(opacity = 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        float: none;
        margin: 0 0 0 0;
        width: 22px;
        height: 22px;
      }
      &.checked {
        background: url($url+"/documents/80379/1184518/checked.png/10a669bb-c661-4674-b441-8abeff4ad252?t=1427328275233") no-repeat center;
      }
    }
    .label {
      margin: 0;
      vertical-align: middle;
      white-space: normal;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 85%;
    }
    .pulldown {
      position: relative;
      background: url($url+"/documents/80379/1184518/arrow.png") no-repeat right center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &.w50 {
        width: 48%;
        float: left;
      }
      &.mr {
        margin-right: 4%;
      }
      .pulldown-text {
        position: absolute;
        top: 0px;
        left: 10px;
        line-height: 32px;
      }
      select {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 34px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity = 0);
        top: 0;
        left: 0;
        border: 1px;
        font-size: 14px;
        z-index: 5;
      }
    }
    .numeroactual{
      //display: none;
    }
    .listplan{
      background-color: #e5f4fb;
      font-size: 0;
      margin-top: 16px;
      display: none;
      text-align: center;
      padding-bottom: 14px;
      .w25{
        display: inline-block;
        width: 24%;
        text-align: center;
      }
      .box{
        &.nobd{
          border-right: 0;
          border-bottom: 0;
        }
        .dospuntos{
          display: none;
        }
        border-right: 1px dotted #b7e0f2;
        margin: 10px 0;
        .ico{
          display: inline-block;
          margin-bottom: 4px;
        }
        p{
          font-size: 14px;
          color:#0085c2;
          strong{
            display: block;
          }
        }
      }
    }
  }
  .journal-content-article {
    background-color: #FFF;
  }
  .text1, .text2, .text3, .text4 {
    margin-top: 40px !important;
    font-size: 18px;
    color: #686a6c;
  }
  .tablet-desktop {
    display: block !important;
  }
  .phone {
    display: none !important;
  }
  .wrapper {
    margin: auto;
    width: 100%;
  }
  .acordeon {
    width: 100% !important;
    height: auto !important;
    background-color: #4BBCB6 !important;
    float: left;
  }
  .acordeon-btn {
    width: 1169px;
    height: 40px;
    float: left;
  }
  .especificaciones {
    background: url("http://cms.movistar.com.pe/documents/80379/1184518/especificaciones.png/0f9b232a-861e-46c2-839f-25b69de8647d?t=1427821639492") no-repeat top left;
    width: 240px;
    height: 40px;
  }
  .caracteristicas {
    background: url("http://cms.movistar.com.pe/documents/80379/1184518/caracteristicas.png/1201bd06-4354-47ae-b3f8-a023f3898e34?t=1427821639743") no-repeat top left;
    width: 240px;
    height: 40px;
  }
  .on {
    background: url("http://cms.movistar.com.pe/documents/80379/1184518/mas.png/4f2e7ec6-60a4-4e21-b7ec-e1c942412915?t=1427821638949") no-repeat top right;
    width: 100%;
  }
  .off {
    background: url("http://cms.movistar.com.pe/documents/80379/1184518/menos.png/890f70b0-47c0-43f7-90ec-25cbf4295f82?t=1427821639205") no-repeat top right;
    width: 100%;
  }
  .acordeon-contenido {
    width: 100%;
    height: auto;
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    float: left;
    clear: both;
    padding-top: 30px;
    &.row-fluid {
      margin-bottom: 20px !important;
    }
  }
  #s6-esp {
    padding: 0px 30px;
    .s6-esp-tit {
      font-family: Arial;
      font-size: 25px;
      color: #4bbcb6;
      margin-top: 30px;
      line-height: 28px;
    }
    .s6-esp-subtit {
      font-family: Arial;
      font-size: 14px;
      font-weight: bold;
      color: #686a6c;
      margin: 0;
    }
    .conte {
      font-family: Arial;
      font-size: 14px;
      color: #686a6c;
      margin: 0px;
    }
    .line {
      border-bottom: 1px dashed #B7B7B7;
    }
    .row-fluid {
      padding: 10px 0;
      margin-bottom: 0px;
    }
  }
  #back{
    width: 135px;
    height: 36px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    background-image: url($url+'/documents/80379/2947559/bglie_btn.jpg/f9167ca3-87ab-4271-9263-791682dce647?t=1444151683773');
    background-repeat: repeat-x;
    background-position: 0 0;
    font-size: 18px;
    border: 0;
    font-weight: normal;
    margin: 30px 0 0 0;
    @include border-radius(6px);
    &:hover, &:focus {
      outline: none;
      background-position: 0 0;
    }
    p{
      color:#ffffff !important;
      text-align: center;
    }
  }
  #msg{
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 40px;
    p{
      color: #6C6C6C;
    }
    @include border-radius(12px);
    h3{
      display: inline-block;
      width: 100%;
      padding: 0 0 15px 0;
      border-bottom: 1px dotted #222;
      color:#6C6C6C;
      font-family: 'MovistarText';
    }
    .title{
      font-size: 22px;
      line-height: normal;
      margin-bottom: 6px;
      font-family: 'MovistarText';
    }
    .content{
      padding: 0 0%;
    }
    .detalle{
      margin-top: 20px;
      text-align: left;
      .box{
        margin: 14px 0;
      }
      .ico{
        display: inline-block;
        vertical-align: middle;
        width: 45px;
      }
      p{
        display: inline-block;
        vertical-align: middle;
        width: 89%;
        padding-left: 1%;
      }
    }
  }
  #formData{
    @include transition(all 0.3s ease-in-out);
  }

  .container-form{
    position: relative;
    padding-right: 20px;
  }
  .loadingfade{
    @include opacity(0.3);
  }
  .boxloading{
    text-align: center;
    width: 200px;
    height: 120px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -100px;
    display: none;
    .text{
      padding: 12px 0;
      font-size: 20px;
    }
  }
}

@media (max-width: 1020px) {
  .aui {
    #myTab .boxllego{
      padding: 0 20px;
    }
    #myTab .nav-tabs{
      padding: 0 0;
    }
    #myTab .boxpasos{
      padding: 0 0px;
      .contentpasos {
            padding: 16px 10px;
          }
    }
    #myTab li {
      margin: 6px 0;
      width: 100% !important;
      &.brn {
        border-right: 1px solid #dadada !important;
      }
    }

    #myTab .boxcaracteristica .content-caract .boxtwo .boximg{
      margin-top: 0;
    }
    #myTab .boxcaracteristica .content-caract .first{
      display: block;
    }
    #myTab .boxcaracteristica .content-caract .second{
      display: none;
    }
    input[type="text"] {
      max-width: 100% !important;
      &.w50 {
        width: 48% !important;
      }
      &.mr {
        margin-right: 4% !important;
      }
    }
    .banner-wrapper{
      h2{
        font-size: 24px;
        width: 270px;
        left: 14px;
        top: 70px;
        line-height: 28px;
      }
      .boxtext{
        top: 130px;
        left: 14px;
        .subtitle{
          font-size: 22px;
        }
      }
    }
    .wrapper-form .textitle{
      padding: 0 22px;
    }
    .wrapper-form .wrapper-text{
      padding: 0 22px;
    }
    #formData{
      padding: 0 10px;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .aui{
    #myTab .boxllego{
      padding: 0 10px;
    }
    #msg{
      width: 98%;
    }
    #myTab .boxpasos .contentitem{
      display: none;
    }
    #myTab .boxcaracteristica{
      padding: 0 10px;
    }
    #myTab .boxlegal{
      padding: 0 10px;
    }
    .banner-wrapper h2{
      font-size: 18px;
      width: 225px;
      top: 50px;
    }
    #myTab .itemsacordeon{
      padding: 0 10px;
    }
    #myTab .boxpasos .contentpasos a{
      display: inline-block;
    }
    .banner-wrapper .boxtext{
      top: 110px;
    }
    .banner-wrapper .boxtext .subtitle{
      font-size: 16px;
    }
    .banner-wrapper .boxtext .btnlink{
      font-size: 15px;
    }
    #myTab .boxpasos .boxmore{
      display: block;
    }
    .banner-wrapper .banner.imgtablet{
      display: block !important;
    }
    .container-form{
      padding: 0 0 0 0;
    }
    .wrapper-form .trform{
      max-width: 100%;
    }
    .wrapper-form .input50{
      max-width: 100%;
    }
    .wrapper-form .textitle{
      padding: 0 10px;
    }
    .wrapper-form .wrapper-text{
      padding: 0 10px;
    }
    #myTab .boxllego h3 br{
      display: none;
    }
  }
  .aui .info{
    font-size: 12px;
  }

}

@media (max-width: 560px) {
  .aui {
    .text1, .text2, .text3, .text4 {
      margin-top: 0px;
    }
    .tablet-desktop {
      display: none !important;
    }
    .phone {
      display: block !important;
      margin-top: 50px !important;
    }
    #myTab .boxpasos .title span{
      display: none;
    }
    .banner-wrapper h2{
      display: none;
    }
    .banner-wrapper .banner.imgtablet{
      display: none !important;
    }
    .banner-wrapper .banner.imgmobile{
      display: block !important;
    }
    .banner-wrapper .boxtext{
      top: inherit;
      bottom: 30px;
      text-align: center;
      width: 256px;
      left: 50%;
      margin-left: -128px;
      .subtitle{
        display: none;
      }
    }
    .banner-wrapper .boxtext .btnlink{
      width: 80%;
    }

    #msg .detalle p{
      width: 79%;
      padding-left:1%;
    }
    .wrapper-form .listplan .w25{
      width: 100%;
    }
    .wrapper-form .listplan .box{
      width: 180px;
      margin: 10px auto;
      border-right: 0;
      padding: 6px 0;
      border-bottom: 1px dotted #b7e0f2;
    }
    .wrapper-form .listplan .box .dospuntos{
      display: inline;
    }
    .wrapper-form .listplan .box .ico{
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
    .wrapper-form .listplan .box p{
      display: inline-block;
      vertical-align: middle;
    }
    .wrapper-form .listplan .box p strong{
      display: inline-block;
    }
  }
}
