extends ../layout/layout
include ../layout/mixins


block htmlTitle
title template
block importtop
  link(rel="stylesheet", href="css/caceria-premios.css")


block importbottom
  - jsPath = "js"
  //- jsPath = "http://www.servicios.movistar.com.pe/filesCaceria-premios"
  script(src="http://cdn.alloyui.com/2.0.0/aui/aui-min.js")
  script(src="#{jsPath}/vendor/jquery.validate.js")
  script(src="#{jsPath}/vendor/jquery.alphanum.js")
  script(src="http://www.servicios.movistar.com.pe/filesCampana-mayo/mobile-detect.min.js")
  script(src="#{jsPath}/caceria-premios.js")

block content
  - url = "http://cms.movistar.com.pe"
  //- url = ""
  .aui(style="background-color:transparent")
    #wrapper.modulo-a
      .contenido-no-estructurado
        //-a partir d de aca se copia al contenido Web
        .container(style="margin: 0 auto")
          #caceria-premios
            .concurso-wrapper
              .banner-img
                img(src="#{url}/documents/80379/4204452/caceria.png/d5ec896a-dfcf-4e9e-9e56-f587f7ade0ac?t=1469215548398", alt="")
              .box-title
                h2 
                  | Completa tus datos y ya estarás participando por 
                  strong Vales de Saga 
                  br
                  | y 
                  strong Galaxy S7:
              #trans-error
              .info-form
                form#form-sorteo(action="POST")
                  .trform
                    input#celular.form-input(type='text',name='celular',placeholder="Número de Celular",maxlength=9)
                  .trform
                     input#dni.form-input(type='text',name='dni',placeholder="DNI",maxlength=8,disabled)
                  .trform
                     input#nombres.form-input(type='text',name='nombres',placeholder="Nombre y Apellidos",disabled)
                  .trform
                    input#email.form-input(type='text',name='email',placeholder="E-mail",maxlength='50',disabled)
                  .trform
                     input#btnsend(type="button",value="Enviar datos",disabled)
              .thank-you
                h3
                  img.ico(src="#{url}/documents/80379/4204452/ico_sucess.png/f0e12083-3fb5-4157-bc7e-523f8cf1f864?t=1468964895083",alt="")
                  span ¡Listo!
                p.text Pronto publicaremos#[br] a los ganadores en la web.
                p.text
                  strong Si eres uno de ellos te#[br] contactaremos por correo y/o SMS.
