mixin link(href, name, clasenombre)
    a(class=clasenombre, href=href)= name

mixin text(info)
    p.text !{info}

mixin terms(info)
    p.terms !{info}

//mixin btn(color, lbl)
    .button.#{color}
        .button-icon
        p.button-text !{lbl}

mixin list(data)
    ul.bullets
        each row in data
            li.bullet
                .bullet-icon
                .bullet-text !{row.text}

 mixin video(code)
    .video-container
        .video-wrapper
            iframe(width='860' height='484' src='http://www.youtube.com/embed/#{code}' frameborder='0' allowfullscreen='')

mixin title(text,ico)
    if ico
        h2.title-icon #{text}
        img.icon-title(src='#{ico}')
    else
        h2 #{text}

mixin BannerImg()
    .banner-wrapper
        img.banner.hidden-phone(alt='Banner', src='http://cms.movistar.com.pe/documents/80379/1184518/banner.png/a4ef0f98-27eb-4dbe-9414-08e0533a23c4?t=1428359818768')
        img.banner.block-center.hidden-desktop.hidden-tablet.visible-phone(src='http://cms.movistar.com.pe/documents/80379/1184518/banner-mobile.jpg/2b1a74d8-4c2b-4848-a056-95e90226b4e1?t=1428359844458')
