/* Landscape phone to portrait tablet */

@media (min-width: 1200px) {
  
}

@media (max-width: 992px){
  .aui .modulo-a .contenido-no-estructurado h3 br{
    display: none;
  }
  .aui .modulo-a .contenido-no-estructurado h2 br{
    display: none;
  }
  .aui .modulo-a .contenido-no-estructurado .angry-birds .box-bottom{
    text-align: center;
  }
  .aui .modulo-a .contenido-no-estructurado .angry-birds .box-prod{
     padding: 30px 10px;
  }
}

@media (min-width: 768px) {
  
}
@media (min-width: 640px) {
  .aui .modulo-a .contenido-no-estructurado .angry-birds .box-rpm{
    padding: 20px 25px;
  }
  .aui .modulo-a .contenido-no-estructurado .angry-birds .box-rpm h2{
    font-size: 34px;
  }
}


@media (min-width: 600px){
  .aui{
    .aui .modulo-a .contenido-no-estructurado .angry-birds .box-rpm h2{
      font-size: 30px;
    }
  }
}
@media (min-width: 540px){
  .aui .modulo-a .contenido-no-estructurado .angry-birds {
    .hidden-pc{
      display: none;
    }
    .hidden-mobile{
      display: inline-block;
    }
  }
  
}