$url:'http://cms.movistar.com.pe/';
//$url:'';
$fontTitle: "MovistarHeadline", sans-serif;
$fontTitleBold: 'MovistarHeadline', sans-serif;
$fontText: 'MovistarText', sans-serif;
$fontTextBold: 'MovistarText', sans-serif;
$linkcolor: #0085c3;
$blue:#005c84;

@import "compass/css3";
@import "../utiles/fontsTelf";

*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}

body{
  height: auto;
}

@import "../utiles/fix-ios";

.aui .modulo-a .contenido-no-estructurado{
  //padding: 0 !important;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 24px;
  #wrapper{
    position: relative;
  }
  .hidden-pc{
    display: inline-block;
    display: none\9;
  }
  .hidden-mobile{
    display: none;
    display: inline-block\9;
  }
  .angry-birds{
    h2{
      margin-top: 0;
    }
    .box-prod{
      padding: 30px 40px;
      background-image: url($url+"/documents/80379/3939153/line-dashed-angry.png/7a117074-fe7a-4ad2-aa45-e401e880d0eb?t=1462211831648");
      background-repeat: repeat-x;
      background-position: left bottom;
      .item{
        max-width: 380px;
        margin: 0 auto;
        padding: 10px 0;
        h4{
          color:$blue;
          font-size: 24px;
          font-family: $fontText;
          padding: 10px 0;
          line-height: normal
        }
        .linea{
          font-size: 18px;
          font-family: $fontText;
          line-height: normal
        }
        .boxprice{
          padding: 14px 0;
          .price{
            font-family: $fontTitleBold;
            font-size: 90px;
            line-height: 76px;
            font-weight: bold;
            color:$blue;
            span{
              font-size: 45px;
              line-height: normal
            }
          }
          .planprice{
            color:$blue;
            font-family: $fontTitleBold;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
          }
        }
      }
    }
    .box-bottom{
      padding-top: 80px;
      h3{
        line-height: normal;
      }
      .box-text{
        padding-right: 25px;
        padding-left: 15px;
        text-align: left;
      }
      ul.bullets{
        .bullet-text{
          font-family: $fontText;
          margin: 0 0 2px 10px;
        }
        li.bullet .bullet-icon{
          margin-top: 6px;
        }
      }
    }
    .box-rpm{
      text-align: center;
      background-color: #005c84;
      padding: 10px 8px;
      background-image: url($url+"/documents/80379/3783102/trama.png/d8eae59f-66e1-44fa-a142-ed99467e326e?t=1456959568807");
      background-repeat: repeat;
      margin-top: 30px;
      h2{
        color:#fff;
        margin:0;
        line-height: normal;
        font-size: 28px;
        margin-bottom: 8px;
        span{
          font-weight: bold;
        }
      }
    }
  }
}

@import "responsive_angry-birds";
