extends ../layout/layout
include ../layout/mixins


block htmlTitle
  title template
block importtop
  link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/aui.css")
  link(rel="stylesheet", href="css/vendor/main_1.css")
  //link(rel="stylesheet", href="css/vendor/main_2.css")
  link(rel="stylesheet", href="css/vendor/main_3.css")
  link(rel="stylesheet", href="http://servicios.movistar.com.pe/migracion/css/styles-contenidos.css")
  link(rel="stylesheet", href="css/main.css")


block importbottom
  
  script(src="http://cdn.alloyui.com/2.0.0/aui/aui-min.js")
  script(src="js/vendor/jquery.xdomainrequest.min.js")
  script(src="js/vendor/modernizr.js")
  //script(src="js/vendor/jquery.placeholder.min.js")
  script(src="js/vendor/jquery.validate.js")
  script(src="js/vendor/jquery.alphanum.js")
  script(src="js/vendor/jquery.flexslider.js")
  script(src="js/init.js")
  //
    script(src="http://servicios.movistar.com.pe/migracion/js/init-contenidos.js")
    script(src="../js/init.js")


block content
  - url = "http://cms.movistar.com.pe"
  //- url = ""
  .aui(style="background-color:transparent")
    .modulo-a
      .contenido-no-estructurado(style="background-color:transparent")
        //-a partir d de aca se copia al contenido Web
        .container(style="margin: 0 auto")
          .content-wrapper
            include ../layout/includes/bannerimg
            #myTab.tabs-nested-portlet.tabcaract
              ul.nav.nav-tabs
                li.active.brn
                  a(href='#tab-1') Compra Anticipada
                li
                  a(href='#tab-2') Preguntas Frecuentes

              .tab-content
                #tab-1
                  .wrapper-form
                    br
                    br
                    .row-fluid
                      .span12
                        .boxllego
                          .row-fluid
                            .span5.hidden-tablet.hidden-phone
                              .boximg.text-center
                                .slider-smartphone
                                  #carousel.flexslider
                                    ul.slides
                                      li
                                        img(src="#{url}/documents/80379/2947559/button_gold.jpg/c46c9f39-7e27-46dc-948b-1bf1f791614f?t=1445897828249", alt="")
                                      li
                                        img(src="#{url}/documents/80379/2947559/button_rosegold.jpg/6742a7c9-a2b9-41a5-b580-d26d501a748b?t=1445897828992", alt="")
                                      li
                                        img(src="#{url}/documents/80379/2947559/button_silver.jpg/f085ffb0-5054-4b5d-babd-78d32d1e8586?t=1446485315584", alt="")
                                      li
                                        img(src="#{url}/documents/80379/2947559/button_spacegrey.jpg/105bba68-2101-4320-bd7d-bb2270b4d299?t=1445897829689", alt="")

                                  #slider.flexslider
                                    ul.slides
                                      li
                                        img(src="#{url}/documents/80379/2947559/imgbig_gold.jpg/4cd05e9b-9ca1-4a7e-963e-0eef951446e0?t=1446162134170", alt="")
                                      li
                                        img(src="#{url}/documents/80379/2947559/imgbig_rosegold.jpg/318e2ec2-ece4-453b-a361-8d08107a6121?t=1445897831007", alt="")
                                      li
                                        img(src="#{url}/documents/80379/2947559/imgbig_silver.jpg/925ca13c-1acf-460b-8b9a-4bebbbd4092f?t=1446485314861", alt="")
                                      li
                                        img(src="#{url}/documents/80379/2947559/imgbig_gris.jpg/01755d7d-9bd6-424f-9b73-4fda165cb0ce?t=1445897830403", alt="")
                            .span7.xs-span-12
                              h3 Compra tu iPhone 6S 
                                br
                                | con el Programa Inteligente
                              .boxtext
                                p Aprovecha la mejor oferta del IPhone 6S con el 
                                  strong.pint Programa Inteligente 
                                  | y renueva tu iPhone todos los años gratis
                                a.btnlink.llegobtn(href="http://www.movistar.com.pe/iphone-6s") Cómpralo

                    .row-fluid
                      .span12
                        .boxpasos
                          .contentpasos
                            p.title Estos son los 
                              span próximos 
                              | pasos para que adquieras tu 
                              strong iPhone 6S o 6S Plus 
                              | sin colas ni reservas:
                            .contentitem
                              .row-fluid
                                .span3.xs-span-12
                                  .itembox
                                    .row-fluid
                                      .span12
                                        .boxicon
                                          img(src="#{url}/documents/80379/2947559/icon01.png/aebcb350-4076-4084-a63f-5f1790563867?t=1444689631713", alt="")
                                      .span12
                                        p Ingresa tu  
                                          a(href="http://www.movistar.com.pe/iphone-6s").linkform pedido
                                .span3.xs-span-12
                                  .itembox
                                    .row-fluid
                                      .span12
                                        .boxicon
                                          img(src="#{url}/documents/80379/2947559/icon02.png/fd04ea8b-3845-48ce-bc36-64a08c285aaa?t=1444689630414", alt="")
                                      .span12
                                        p Nos contactaremos contigo*
                                .span3.xs-span-12
                                  .itembox
                                    .row-fluid
                                      .span12
                                        .boxicon
                                          img(src="#{url}/documents/80379/2947559/icon03.png/38c37290-b89b-46f2-b3b7-9f8f5670c09a?t=1444689630893", alt="")
                                      .span12
                                        p Te visitaremos para concretar tu compra**

                                .span3.xs-span-12
                                  .itembox
                                    .row-fluid
                                      .span12
                                        .boxicon
                                          img(src="#{url}/documents/80379/2947559/icon04.png/95f4bf84-bb2e-4fc7-a62a-e904ef404688?t=1444689631312", alt="")
                                      .span12
                                        p Te enviaremos gratis tu iPhone 6S a partir del 06/11/2015 o te lo daremos en el evento de lanzamiento si eres de los primeros 200 en comprar.
                            
                            .boxmore
                              a(href="#").btnmore
                                span.text Ver más
                                span.arrow
                    
                    .row-fluid
                      .span12
                        .boxcaracteristica
                          .btncaract
                            p Características
                            span.ico
                          .content-caract
                            .row-fluid
                              .boxcontcarac.hidden-desktop.hidden-tablet.visible-phone
                                .span6.xs-span-12
                                  .boximg.text-center
                                    <img src="#{url}/documents/80379/2947559/caract01.jpg/c45436e0-6b73-4090-a01e-83b3afce0333?t=1445968857731" alt="">
                              .span6.xs-span-12
                                .boxtext.pdright
                                  p
                                    | Los iPhone 6S y 6S Plus son los nuevos smartphones de Apple y vienen con su último procesador, el 
                                    strong chip A9
                                    |  de 
                                    strong 64 bits
                                    |  que tiene un excelente nivel y capacidad de tratar datos almacenados, este posee hasta un 
                                    strong 90% más de rendimiento gráfico
                                    |  respecto al A8. Además, los equipos vienen en 
                                    strong tres versiones
                                    |  que se diferencian por su capacidad de almacenamiento: 
                                    strong 16GB, 64GB, 128GB
                                    | . Recordemos que vienen con la última versión del sistema operativo de Apple, el iOS 9.
                              .span6.xs-span-12.second
                                .boximg.text-center
                                  <img src="#{url}/documents/80379/2947559/caract01.jpg/c45436e0-6b73-4090-a01e-83b3afce0333?t=1445968857731" alt="">


                            .row.boxtwo
                              .span6.xs-span-12
                                .boximg.text-center
                                  <img src="#{url}/documents/80379/2947559/caract02.jpg/1788653a-b1ba-4940-8c8a-69ef30c879d4?t=1445968858126" alt="">
                              .span6.xs-span-12
                                .boxtext
                                  p
                                    | El 
                                    strong iPhone 6S
                                    |  posee una 
                                    strong pantalla de 4.7 pulgadas
                                    |  con 
                                    strong resolución de 1334 x 750
                                    |  y una densidad de pixeles de 
                                    strong 326 ppi
                                    |  (pixels per inch). Por otro lado, el 
                                    strong iPhone 6S Plus
                                    |  es un poco más grande, con 
                                    strong 5.5 pulgadas
                                    |  y resolución de 
                                    strong 1920×1080 pixeles y 401 ppi
                                    | , permitiendo la cómoda visualización de fotos de alta calidad y también dejándote leer sin problemas. Por primera vez, el iPhone 6S trae el 
                                    strong 3D Touch
                                    | , el cual determina cuanta presión aplicas a la pantalla y responde a diferentes tipos de contacto.
                            .row.boxthree
                              .boxcontcarac.hidden-desktop.hidden-tablet.visible-phone
                                .span6.xs-span-12
                                  .boximg.text-center
                                    <img src="#{url}/documents/80379/2947559/caract03.jpg/d2a77b20-dfeb-4d11-bc51-6e5aa5cef2cb?t=1445968857205" alt="">
                              .span6.xs-span-12
                                .boxtext
                                  p
                                    | El 6S y el 6S Plus traen 
                                    strong 12 megapíxeles
                                    |  para que grabes 
                                    strong videos en 4K
                                    |  y tengas 
                                    strong imágenes nítidas
                                    |  con su sistema de estabilización. La 
                                    strong cámara delantera tiene 5 megapíxeles
                                    |  y ofrece buenos selfies e incluso puedes usar la pantalla del móvil como flash. Con 
                                    strong Live Photos
                                    |  podrás capturar momentos para luego poder revivirlos con sonido y movimiento. Estos celulares tienen todo lo básico para los amantes de la tecnología y una 
                                    strong buena batería
                                    |  para tenerlos funcionando todo el día.
                              .span6.xs-span-12.second
                                .boximg.text-center
                                  <img src="#{url}/documents/80379/2947559/caract03.jpg/d2a77b20-dfeb-4d11-bc51-6e5aa5cef2cb?t=1445968857205" alt="">
                    
                    .boxlegal
                      .row-fluid
                        .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
                          p.info Promoción válida del 30.10.15  al 05.11.15 para líneas nuevas, renovaciones o portabilidad de clientes residenciales y/o negocios con RUC 10. Stock: 50 unidades. Sujeto a evaluación crediticia. El Programa incluye Plan de servicios + membrecía + seguro Movistar con acuerdo de adquisición de equipos a 18 meses. Renovación gratis después de los 12 meses a cambio del equipo del cliente, válido solo para clientes inscritos al Programa inteligente Movistar que se encuentren al día en el pago de su plan, membrecía y Movistar Seguro.
                      .row-fluid
                        .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
                          p.info.large
                            | *Clientes con evaluación crediticia aprobada serán contactados telefónicamente, de lo contrario recibirán un correo electrónico indicando el motivo de no aprobación de su pedido. 
                      .row-fluid
                        .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
                          p.info.large
                            | ** Para concretar la venta el cliente deberá realizar el pago anticipado de su equipo, firmar los contratos correspondientes y recibirá su simcard activo. 
                      .row-fluid
                        .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
                          p.info.large
                            | Preventa válida solo para Lima.
                  
                #tab-2
                  .wrapper-form
                    br
                    .itemsacordeon
                      .row-fluid
                        .span12 
                          .contAcor
                            .tabs-nested-portlet
                              .accordion
                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Cómo me entregarán mi nuevo iPhone 6s luego de comprar?
                                  .toggler-content.toggler-content-collapsed
                                    .accordion-inner
                                      .boxacordeon
                                        p.text Si se encuentra dentro de los 200 primeros clientes en comprarlo, lo invitaremos a un cóctel de lanzamiento donde se le entregará su nuevo iPhone6S, en su defecto le enviaremos su nuevo equipo vía delivery previa coordinación. 

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Puedo recoger el equipo en tienda?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text La entrega de su nuevo iPhone6S comprado en preventa solo se realizará en el evento de lanzamiento o vía delivery.

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿En qué tienda puedo adquirir el nuevo iPhone?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text Desde el 30.10 solo lo podrá adquirir a través de nuestra web 
                                          a(href="http://www.movistar.com.pe") www.movistar.com.pe
                                          | , y, a partir del 06/11/15, en cualquier de nuestras tiendas a nivel nacional.

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Si vivo en provincia, puedo comprar el iPhone 6S a partir del 30.10? 
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text No. La preventa online es solo válida para Lima. Pero, a partir del 06/11/15 tendremos el equipo disponible en nuestras oficinas a nivela nacional.

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Puedo reservar y luego recogerlo?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text Para el lanzamiento no habrá servicio de reserva. Pero, usted podrá comprarlo en nuestra preventa a través de nuestra página web.

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Cuáles son las formas de pago? 
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text La persona que lo visitará llevará un POS, por lo que sólo se aceptarán pagos con tarjetas de débito o crédito de Visa, Mastercard o American Express

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Hay opción para hacer Canjesmart? / ¿Puedo dejar o cambiar mi iPhone anterior por el nuevo iPhone 6S?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text No tenemos disponible la opción de Canjesmart a través de la web. 

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Cuál es el evento? / ¿A qué evento se refieren?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text Los primeros clientes en comprar su iPhone serán invitados a un coctel especial del lanzamiento el día 05/11/2015, donde podrá celebrar con nosotros y recibir su nuevo iPhone 6S que haya comprado a través de nuestra web. 

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Cómo puedo hacer para asistir al evento de lanzamiento?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text Solo tendrá que ser uno de los primeros 200 en comprar a través de nuestra web, firmar el contrato respectivo y pagar anticipadamente su nuevo iPhone 6S.

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Qué pasa si acepto ir al evento y no puedo asistir? / ¿Qué pasa si en la fecha de entrega no puedo recibir el equipo?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text No se preocupe. Un asesor se volverá a comunicar con usted para volver a agendar la entrega.

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text ¿Puedo pagar en el evento? / ¿Puedo comprar en el evento?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text No. En el evento usted solo disfrutará y se relajará mientras recibe su nuevo iPhone 6S

                                .accordion-group
                                  .accordion-heading.toggler-header.toggler-header-collapsed
                                    .accordion-toggle.maskAcor
                                      span.title-text Tengo permanencia / mi contrato esta aún vigente ¿Puedo comprar?
                                  .toggler-content.toggler-content-collapsed
                                    .boxacordeon
                                      .accordion-inner
                                        p.text Puede acercarse  al centro de atención Movistar más cercano  y pedir información sobre cómo finalizar su contrato y el importe para cancelarlo. Luego de eso puede ingresar nuevamente su pedido a través de nuestra web.
 
