extends ../layout/layout
include ../layout/mixins


block htmlTitle
  title template
block importtop
  link(rel="stylesheet", href="css/preventa-iphone6s.css")


block importbottom
  
  script(src="http://cdn.alloyui.com/2.0.0/aui/aui-min.js")
  script(src="js/vendor/jquery.xdomainrequest.min.js")
  script(src="js/vendor/modernizr.js")
  //script(src="js/vendor/jquery.placeholder.min.js")
  script(src="js/vendor/jquery.validate.js")
  script(src="js/vendor/jquery.alphanum.js")
  script(src="js/vendor/jquery.flexslider.js")
  script(src="js/preventa-iphone6s.js")
  //script(src="http://10.12.18.66:1337/vorlon.js")


block content
  - url = "http://cms.movistar.com.pe"
  //- url = ""
  .aui(style="background-color:transparent")
    .modulo-a
      .contenido-no-estructurado
        //-a partir d de aca se copia al contenido Web
        .container(style="margin: 0 auto")
          .content-wrapper
            //include layout/includes/bannerimg
            #myTab.tabs-nested-portlet
              //
                ul.nav.nav-tabs
                li.active.brn
                  a(href='#tab-1') PREVENTA
                li
                  a(href='#tab-2') Conoce el iPhone 6S y 6S Plus
              .tab-content
                #tab-1
                  include ../layout/includes/tab1  
                //
                  #tab-2.dn
                  .wrapper
                    .acordeon.caracteristicas  
                    .acordeon-contenido
                      .row-fluid
                        .span1  
                        .span5.xs-span-5.xxs-span-5
                          img.tablet-desktop(alt='', src='')
                          img.phone(alt='', src='')
                        .span5.xs-span-5.xxs-span-6
                          p.text4
                            | El Samsung Galaxy S6 y S6 Edge son elegantes y bastante resistentes, combinan los acabados y el marco de metal con una parte trasera de cristal protegido con Gorilla Glass 4. Ambos poseen el procesador Exynos 7420 de ocho núcleos y con 3GB de memoria RAM.
                        .span1  
