extends ../layout/layout
include ../layout/mixins


block htmlTitle
  title template
block importtop
  link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/aui.css")
  link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/main.css")
  link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/main_2.css")
  link(rel="stylesheet", href="http://servicios.movistar.com.pe/migracion/css/styles-contenidos.css")
  link(rel="stylesheet", href="css/angry-birds.css")


block importbottom
  script(src="http://cdn.alloyui.com/2.0.0/aui/aui-min.js")
  script(src="js/vendor/modernizr.js")


block content
  - url = "http://cms.movistar.com.pe"
  //- url = ""
  .aui(style="background-color:transparent")
    #wrapper.modulo-a
      .contenido-no-estructurado
        //-a partir d de aca se copia al contenido Web
        .container(style="margin: 0 auto")
          .angry-birds
            h2 ¡Por la compra de cualquiera de estos equipos 4G LTE #[br]llévate una tablet Angry Birds!
            .box-prod
              +text("Chipset:Quadcore","Chipset:Quadcore qwer","asdas")
              +text("dasd","lreor qwer","asdas")
              +text("dasd","lreor qwer","asdas")
              +text("dasd","lreor qwer","asdas")
              +text("dasd","lreor qwer","asdas")
              +text("dasd","lreor qwer","asdas")
              .row
                .xxs-span-12.span6
                  .item
                    .row
                      .span5
                        img(src="#{url}/documents/80379/3939153/model_lg-spirit.jpg/bc9a2d6f-fc79-45fe-b544-4aa32d15670b?t=1460765029447", alt="")
                      .span7
                        h4 Pack LG Spirit C70 + Tablet
                        p.linea Portabilidad y Alta Nueva
                        .boxprice
                          p.price
                            span S/
                            | 89
                          p.planprice Plan Vuela S/ 80
                        a(href='http://catalogo.movistar.com.pe/spirit-c70-tablet-angry-birds', target="_blank")
                          .button
                            .button-icon
                            p.button-text  Ver planes

                .xxs-span-12.span6
                  .item
                    .row
                      .span5
                        img(src="#{url}/documents/80379/3939153/model_lg-g4beat.jpg/4b0902aa-2962-4f01-af0e-9a970535859a?t=1460765028947", alt="")
                      .span7
                        h4 Pack LG G4 Beat + Tablet
                        p.linea Portabilidad y Alta Nueva
                        .boxprice
                          p.price
                            span S/
                            | 399
                          p.planprice Plan Vuela S/ 110
                        a(href='http://catalogo.movistar.com.pe/g4-beat-tablet-angry-birds', target="_blank")
                          .button
                            .button-icon
                            p.button-text Ver planes

            .box-asda
              .row
                .xxs-span-12.xs-span-6.span5
                  img(src="#{url}/documents/80379/3939153/tablet_angry.jpg", alt="")
                .xxs-span-12.xs-span-6.span4
                  .box-text
                    h3 Especificaciones técnicas #[br] de la Tablet
                    ul.bullets
                      li.bullet
                        .bullet-icon
                        .bullet-text
                          strong Chipset:
                          | Quadcore
                      li.bullet
                        .bullet-icon
                        .bullet-text
                          strong DRAM:
                          | 1.0 GB
                      li.bullet
                        .bullet-icon
                        .bullet-text
                          strong Flash:
                          | 16 GB
                      li.bullet
                        .bullet-icon
                        .bullet-text
                          strong Pantalla:
                          | 7"
                      li.bullet
                        .bullet-icon
                        .bullet-text
                          strong Cámara:
                          | 2 MP
                      li.bullet
                        .bullet-icon
                        .bullet-text
                          strong Cámara Frontal:
                          |  0.3 MP
                      li.bullet
                        .bullet-icon
                        .bullet-text Android 5.1.1
                      li.bullet
                        .bullet-icon
                        .bullet-text Incluye protector anti golpes.

                .xxs-span-12.xs-span-12.span3
                  img(src="#{url}/documents/80379/3939153/img_fecha.jpg/2c974945-0e18-4ae2-9802-d8ebece92745?t=1460765028459", alt="")

            .box-rpm
              h2
                span Únete a la familia Postpago Movistar y podrás disfrutar de
              img(src="#{url}/documents/80379/3783102/title_rpm.png/78d5991d-b7fe-4c50-ac5e-08ee94011198?t=1456959567804", alt="").hidden-pc
              img(src="#{url}/documents/80379/3783102/title_rpm_pc.png/961f3c95-b5d3-4f8d-a2cb-00f2af5d17ba?t=1456959568368", alt="").hidden-mobile

            p.terms Promoción Postpago válida para clientes residenciales o negocios con RUC 10 hasta el 15/05/16 y/o hasta agotar stock de 50 packs. Sujeto a evaluación crediticia y suscripción de acuerdo de adquisición de equipos por 18 meses. Imágenes referenciales. Planes Vuela incluyen RPM ilimitado. Bono WhatsApp ilimitado es válido por 4 meses y excluyen llamadas VoIP y enlaces externos.
