.banner-wrapper
  h2 ¡Sé el primero en comprar el nuevo iPhone 6S!
  .boxtext
    p.subtitle ¡Sin colas ni reservas!
    a.btnlink.bannerlink(href="http://www.movistar.com.pe/iphone-6s") Cómpralo
  img.banner.hidden-tablet.hidden-phone(alt='Banner', src='#{url}/documents/80379/2947559/bannerpc_iphone.jpg/e4b350a3-7d37-44eb-be3d-8af0c137d2eb?t=1444151682897')
  img.banner.hidden-desktop.hidden-phone.visible-tablet.imgtablet(alt="Banner", src='#{url}/documents/80379/2947559/bannertablet.jpg/0275d3dc-b8cd-4b17-9f8d-6a16f6d439a7?t=1444925336487')
  img.banner.block-center.hidden-desktop.hidden-tablet.hidden-phone.imgmobile(alt="Banner", src='#{url}/documents/80379/2947559/bannermobile.jpg/d8f524c3-8130-4b24-9e55-071780bdf271?t=1444681651396')

  .clearfix
