- var metaPage = {metaTitle: 'Movistar',metaDescription:'',metaKeywords:'',metaAuthor:'',linkFavicon:'http://www.movistar.com.pe/colportal-peru-v2-theme/images/favicon.ico'}
- var metaFB = {metaTitle:'Template - CNE | Movistar',metaDescription:'',metaType:'',metaUrl:'',metaImage:''}
   meta(charset='utf-8')
   meta(name='viewport' ,content='width=device-width, initial-scale=1')
   meta(name='description',content=metaPage.metaDescription)
   meta(name='keywords',content=metaPage.metaKeywords)
   meta(name='author',content=metaPage.metaAuthor)
   meta(property='og:title', content=metaFB.metaTitle)
   meta(property='og:description', content=metaFB.metaDescription)
   meta(property='og:type', content=metaFB.metaType)
   meta(property='og:url', content=metaFB.metaUrl)
   meta(property='og:image', content=metaFB.metaImage)
   link(rel='shortcut icon', type='image/x-icon', href=metaPage.linkFavicon)
