//- link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/aui.css")
link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/main.css")
link(rel="stylesheet", href="http://cms.movistar.com.pe/colportal-peru-v2-theme/css/main_2.css")
link(rel="stylesheet", href="http://www.movistar.com.pe/colportal-peru-v2-theme/css/main_3.css")
link(rel="stylesheet", href="http://servicios.movistar.com.pe/migracion/css/styles-contenidos.css")

script(src='js/vendor/modernizr.js')
