.wrapper-form
  br
  br
  .boximg(style="text-align:center;")
    img(src="#{url}/documents/80379/2947559/titleimg.jpg/a51cc4b8-3941-4cbf-a50f-319534bda828?t=1445647169028", alt="")

  .row-fluid
    .span4.xxs-span-12
      .bigiphone
        img(src="#{url}/documents/80379/2947559/img_bigiphoen.jpg/d7d62ac3-8418-4591-9d74-8db9312e2aea?t=1445647170180", alt="")
    .span8.xxs-span-12
      .container-form
        .boxloading
          img(src="#{url}/documents/80379/2947559/preloader.gif/c7627e81-c55f-47ee-99fc-ab53236b06e5?t=1444836216432", alt="")
          p.text Enviando...

        form#formData(action='post')
          .row-fluid
            .span12.xs-span-12.xxs-span-12
              .textitle
                | Compra tu iPhone 6S 
                strong aquí
                sub (*)
                | :
                span.valid * Válido solo para Lima

          .row-fluid
              .span6.xs-span-12.xxs-span-12
                .trform
                  .pulldown
                    .pulldown-text Tipo de documento
                    select#tipodocumento(name='tipodocumento')
                      option(value='', data-value="") Tipo de documento
                      option(value='DNI', data-value="1") DNI
                      option(value='CNE', data-value="2") CNE
                      option(value='RUC', data-value="3") RUC
                  
              .span6.xs-span-12.xxs-span-12
                .trform
                  input#numerodocumento(name='numerodocumento', placeholder='Número de documento', type='text', disabled).inputtext
          
          // Formulario para DNI Y CNE 
          #formA.formBox
            .row-fluid
              .span6.xs-span-12.xxs-span-12
                .row-fluid
                  .span12
                    .wrapper-text
                      | ¿Qué tipo de línea quieres?
                .trform
                  .pulldown
                    .pulldown-text Tipo de contrato
                    select#formAatipocontrato(name='formAatipocontrato').tipocontrato
                      option(value='', data-value="") Tipo de contrato
                      option(value='Linea Nueva', data-value="1") Linea Nueva
                      option(value='Cambio de Equipo', data-value="2") Cambio de Equipo
                      option(value='Portabilidad', data-value="3") Portabilidad
                  
                .trform.inputdisable
                  input#formAcaeq(name='formAcaeq', placeholder='Ingresa tu Nro. de línea actual a renovar', type='text', disabled, maxlength="9").inputcaeq.inputtext

                .trform.inputdisable
                  input#formAporta(name='formAporta', placeholder='Ingresa tu Nro. de línea actual a portar', type='text', disabled, maxlength="9").inputporta.inputtext
                  
                .trform
                  .pulldown
                    .pulldown-text Plan
                    select#formAtipoplan(name='formAtipoplan').formtipoplan
                      option(value='', data-value="") Plan
                      option(value='Programa Inteligente', data-value="1") Programa Inteligente S/.199.9
                      option(value='Plan Vuela 110', data-value="3") Plan Vuela 110
                      option(value='Plan Vuela 140', data-value="4") Plan Vuela 140
                      option(value='Plan Vuela 200', data-value="5") Plan Vuela 200
                  #pInteligente.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet
                            span.dospuntos  :
                          |  3GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos  
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS 
                            span.dospuntos  :
                          |  ilimitado
                    .morestick
                      img(src="#{url}/documents/80379/2947559/moresticker.png/8f39990e-ca39-410f-811d-9c373c04673f?t=1445472543757", alt="")
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker01.png/5fd8803c-8f06-4c8b-a1cb-8a2103535d51?t=1445472524508", alt="")
                        .span9
                          .boxtext
                            p Renovación 
                              strong GRATIS 
                              |todos los años por el último modelo
                    .morestick
                      img(src="#{url}/documents/80379/2947559/moresticker.png/8f39990e-ca39-410f-811d-9c373c04673f?t=1445472543757", alt="")
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker02.png/bb7cbad8-8a50-4cd3-8510-c868df8a0ea8?t=1445472524130", alt="")
                        .span9
                          .boxtext
                            p  
                              strong Movistar Seguro:  
                              |Cubre tu equipo por robo o daños

                  //#vuela80.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                            span.dospuntos  :
                          |  700 MB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos 
                            span.dospuntos  : 
                          |  300
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS  
                            span.dospuntos  :
                          |  ilimitado
                  #vuela110.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                            span.dospuntos  :
                          |  2GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos  
                            span.dospuntos  :
                          |  500
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS 
                            span.dospuntos  :
                          |  ilimitado
                  #vuela140.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                            span.dospuntos  :
                          |  3GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS 
                            span.dospuntos  :

                          |  ilimitado
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker01.png/5fd8803c-8f06-4c8b-a1cb-8a2103535d51?t=1445472524508", alt="")
                        .span9
                          .boxtext
                            p ¡No te pierdas LA MEJOR OFERTA. 
                              | Elige el 
                              strong  Programa Inteligente 
                              | y renueva tu iPhone todos los años gratis 

                  #vuela200.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                            span.dospuntos  :

                          |  5GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                            span.dospuntos  :
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS 
                            span.dospuntos  :
                          |  ilimitado
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker01.png/5fd8803c-8f06-4c8b-a1cb-8a2103535d51?t=1445472524508", alt="")
                        .span9
                          .boxtext
                            p ¡No te pierdas LA MEJOR OFERTA. 
                              | Elige el 
                              strong  Programa Inteligente 
                              | y renueva tu iPhone todos los años gratis

                .row-fluid
                  br
                  .span12
                    .wrapper-text ¿Qué iPhone 6S quieres?

                .trform
                  .pulldown
                    .pulldown-text Modelo
                    select#formAmodelo(name='formAmodelo').modelo
                      option(value='' data-value="") Modelo
                      option(value='Iphone 6S', data-value="1") Iphone 6S
                      option(value='Iphone 6S Plus', data-value="2") Iphone 6S Plus
                  
                .input50
                  .row-fluid
                    .span6.xxs-span-12    
                      .trform
                        .pulldown.disabled
                          .pulldown-text Color *
                          select#formAcolor(name='formAcolor', disabled="disabled").color
                            option(value='' data-value="") Color *
                            option(value="Space Gray", data-value="1") Space Gray
                            option(value="Gold", data-value="2") Gold
                            option(value="Rose Gold", data-value="3") Rose Gold
                            option(value="Silver", data-value="4") Silver
                    .span6.xxs-span-12
                      .trform
                        .pulldown.disabled
                          .pulldown-text Capacidad*
                          select#formAcapacidad(name='formAcapacidad', disabled="disabled").capacidad
                            option(value='') Capacidad *
                                         
              // Right  
              .span6.xs-span-12.xxs-span-12
                .row-fluid
                  .span12
                    .wrapper-text
                      | Cuéntanos de ti
                .trform
                  input#formAnombres(maxlength='50', name='formAnombres', placeholder='Nombres', type='text').inputtext
                  
                .trform
                  input#formAapellidos(maxlength='50', name='formAapellidos', placeholder='Apellidos', type='text').inputtext
                  
                .trform
                  input#formAemail(maxlength='50', name='formAemail', placeholder='Email', type='text').inputtext
                  
                .trform
                  input#formAcelular(maxlength='9', name='formAcelular', placeholder='Celular de contacto', type='text').inputtext
                  
                .row-fluid
                  .span12
                    br/
                    .wrapper-text
                      | ¿Dónde quieres que llevemos tu equipo? **
                .trform
                  .pulldown
                    .pulldown-text Distrito
                    select#formAdistrito(name='formAdistrito')
                      option(value='') Distrito
                      option(value='Ate') Ate
                      option(value='Barranco') Barranco
                      option(value='Breña') Breña
                      option(value='Carabayllo') Carabayllo
                      option(value='Chorrillos') Chorrillos
                      option(value='Comas') Comas
                      option(value='Independencia') Independencia
                      option(value='Jesús María') Jesús María
                      option(value='La Molina') La Molina
                      option(value='La Victoria') La Victoria
                      option(value='Lince') Lince
                      option(value='Los Olivos') Los Olivos
                      option(value='Magdalena del Mar') Magdalena del Mar
                      option(value='Miraflores') Miraflores
                      option(value='Pueblo Libre') Pueblo Libre
                      option(value='Rimac') Rimac
                      option(value='San Borja') San Borja
                      option(value='San Isidro') San Isidro
                      option(value='San Juan de Lurigancho') San Juan de Lurigancho
                      option(value='San Luis') San Luis
                      option(value='San Martin de Porres') San Martin de Porres
                      option(value='San Miguel') San Miguel
                      option(value='Santa Anita') Santa Anita
                      option(value='Santiago de Surco') Santiago de Surco
                      option(value='Surquillo') Surquillo
                  
                .trform
                  input#formAdireccion(maxlength='55', name='formAdireccion', placeholder='Dirección', type='text').inputtext
                //  
                  .trform
                    input#formAreferencia(maxlength='55', name='formAreferencia', placeholder='Lugar de Referencia', type='text').inputtext
                  

                .trform
                  .wrapper-checked
                    .checkbox.checked
                      input#formAterminos(checked='checked', name='formAterminos', type='checkbox', value='on')
                    p.label
                      | Acepto los 
                      a.link(href='#terminosdown') términos y condiciones
                .trform
                  .wrapper-checked
                    .checkbox.checked
                      input#formApdatos(checked='checked', name='formApdatos', type='checkbox', value='on')
                    p.label
                      | Autorizo la política de 
                      a.link(href='http://www.movistar.com.pe/proteccion-datos', target='_blank') protección de datos
                .trform
                  input.btn.atm-preventa-boton(type='button', value='Enviar')

          // Formulario para RUC Registrado, si comienza con 20, se retira Plan Inteligente
          #formB1.formBox
            .row-fluid
              .span6.xs-span-12.xxs-span-12
                .row-fluid
                  .span12
                    .wrapper-text
                      | ¿Qué tipo de línea quieres?
                .trform
                  .pulldown
                    .pulldown-text Tipo de contrato
                    select#formB1tipocontrato(name='formB1tipocontrato').tipocontrato
                      option(value='', data-value="" ) Tipo de contrato
                      option(value='Linea Nueva', data-value="1") Linea Nueva
                      option(value='Cambio de Equipo', data-value="2") Cambio de Equipo
                      option(value='Portabilidad', data-value="3") Portabilidad
                  
                .trform.inputdisable
                  input#formB1caeq(name='formB1caeq', placeholder='Ingresa tu Nro. de línea actual a renovar', type='text', disabled, maxlength="9").inputcaeq.inputtext

                .trform.inputdisable
                  input#formB1porta(name='formB1porta', placeholder='Ingresa tu Nro. de línea actual a portar', type='text', disabled, maxlength="9").inputporta.inputtext
                  
                .trform
                  .pulldown
                    .pulldown-text Tipo de Plan
                    select#formB1tipoplan(name='formB1tipoplan').formtipoplan
                      option(value='', data-value="") Tipo de Plan
                      option(value='Programa Inteligente', data-value="1") Programa Inteligente S/.199.9
                      option(value='Plan Vuela 110', data-value="3") Plan Vuela 110
                      option(value='Plan Vuela 140', data-value="4") Plan Vuela 140
                      option(value='Plan Vuela 200', data-value="5") Plan Vuela 200

                  #pInteligente.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet
                          |  3GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos 
                          |  ilimitado
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS  
                          |  ilimitado
                    .morestick
                      img(src="#{url}/documents/80379/2947559/moresticker.png/8f39990e-ca39-410f-811d-9c373c04673f?t=1445472543757", alt="")
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker01.png/5fd8803c-8f06-4c8b-a1cb-8a2103535d51?t=1445472524508", alt="")
                        .span9
                          .boxtext
                            p Renovación 
                              strong GRATIS 
                              |todos los años por el último modelo
                    .morestick
                      img(src="#{url}/documents/80379/2947559/moresticker.png/8f39990e-ca39-410f-811d-9c373c04673f?t=1445472543757", alt="")
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker02.png/bb7cbad8-8a50-4cd3-8510-c868df8a0ea8?t=1445472524130", alt="")
                        .span9
                          .boxtext
                            p  
                              strong Movistar Seguro:  
                              |Cubre tu equipo por robo o daños

                  //#vuela80.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                          |  700 MB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos  
                          |  300
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS  
                          |  ilimitado
                  #vuela110.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                          |  2GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos  
                          |  500
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS  
                          |  ilimitado
                  #vuela140.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                          |  3GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos  
                          |  ilimitado
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS  
                          |  ilimitado
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker01.png/5fd8803c-8f06-4c8b-a1cb-8a2103535d51?t=1445472524508", alt="")
                        .span9
                          .boxtext
                            p ¡No te pierdas LA MEJOR OFERTA. 
                              | Elige el 
                              strong  Programa Inteligente 
                              | y renueva tu iPhone todos los años gratis

                  #vuela200.listplan
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_internet.jpg/282472e3-fc91-4420-ac05-033dbf49a786?t=1444151685321", alt="").ico
                        p
                          strong Internet 
                          |  5GB
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_phone.jpg/37444441-ab98-4769-a150-b42e4186e744?t=1444151677538", alt="").ico
                        p
                          strong Minutos  
                          |  ilimitado
                    .w25
                      .box
                        img(src="#{url}/documents/80379/2947559/ico_rpm.jpg/060e0734-5f78-43ae-8912-42d12c8178fc?t=1444151680013", alt="").ico
                        p
                          strong RPM 
                          |  ilimitado
                    .w25
                      .box.nobd
                        img(src="#{url}/documents/80379/2947559/ico_sms.jpg/eae68cef-eb59-4d88-a17d-675fb764f67e?t=1444151681007", alt="").ico
                        p
                          strong SMS 
                          |  ilimitado
                    .bannerstick
                      .row-fluid
                        .span3
                          .boximg
                            img(src="#{url}/documents/80379/2947559/imgsticker01.png/5fd8803c-8f06-4c8b-a1cb-8a2103535d51?t=1445472524508", alt="")
                        .span9
                          .boxtext
                            p ¡No te pierdas LA MEJOR OFERTA. 
                              | Elige el 
                              strong  Programa Inteligente 
                              | y renueva tu iPhone todos los años gratis

                .row-fluid
                  br
                  .span12
                    .wrapper-text Elige entre los modelos disponibles

                .trform
                  .pulldown
                    .pulldown-text Modelo
                    select#formB1modelo(name='formB1modelo').modelo
                      option(value='' data-value="") Modelo
                      option(value='Iphone 6S', data-value="1") Iphone 6S
                      option(value='Iphone 6S Plus', data-value="2") Iphone 6S Plus

                .input50
                  .row-fluid
                    .span6.xxs-span-12       
                      .trform
                        .pulldown.disabled
                          .pulldown-text Color*
                          select#formB1color(name='formB1color', disabled="disabled").color
                            option(value='' data-value="") Color *
                            option(value="Space Gray", data-value="1") Space Gray
                            option(value="Gold", data-value="2") Gold
                            option(value="Rose Gold", data-value="3") Rose Gold
                            option(value="Silver", data-value="4") Silver

                    .span6.xxs-span-12
                      .trform
                        .pulldown.disabled
                          .pulldown-text Capacidad
                          select#formB1capacidad(name='formB1capacidad', disabled="disabled").capacidad
                            option(value='') Capacidad *
                            option(value='1') 16 GB
                            option(value='2') 64 Gb
                            option(value='2') 128 Gb
                  
              // Right  
              .span6.xs-span-12.xxs-span-12
                .row-fluid
                  .span12
                    .wrapper-text
                      | Datos Personales
                .trform
                  input#formB1razonsocial(maxlength='100', name='formB1razonsocial', placeholder='Razón Social', type='text').inputtext
                  
                .trform
                  input#formB1representantelegal(maxlength='199', name='formB1representantelegal', placeholder='Representante Legal', type='text').inputtext
                  
                .trform
                  input#formB1direccionfiscal(maxlength='55', name='formB1direccionfiscal', placeholder='Dirección Fiscal', type='text').inputtext
                  
                .trform
                  input#formB1emailrepresentante(maxlength='50', name='formB1emailrepresentante', placeholder='Email del Representante Legal', type='text').inputtext
                  
                .trform
                  input#formB1celularlegal(maxlength='9', name='formB1celularlegal', placeholder='Celular de contacto del representante Legal', type='text').inputtext
                  
                .row-fluid
                  .span12
                    br/
                    .wrapper-text
                      | Datos de Delivery **
                .trform
                  .pulldown
                    .pulldown-text Distrito
                    select#formB1distrito(name='formB1distrito')
                      option(value='') Distrito
                      option(value='Ate') Ate
                      option(value='Barranco') Barranco
                      option(value='Breña') Breña
                      option(value='Carabayllo') Carabayllo
                      option(value='Chorrillos') Chorrillos
                      option(value='Comas') Comas
                      option(value='Independencia') Independencia
                      option(value='Jesús María') Jesús María
                      option(value='La Molina') La Molina
                      option(value='La Victoria') La Victoria
                      option(value='Lince') Lince
                      option(value='Los Olivos') Los Olivos
                      option(value='Magdalena del Mar') Magdalena del Mar
                      option(value='Miraflores') Miraflores
                      option(value='Pueblo Libre') Pueblo Libre
                      option(value='Rimac') Rimac
                      option(value='San Borja') San Borja
                      option(value='San Isidro') San Isidro
                      option(value='San Juan de Lurigancho') San Juan de Lurigancho
                      option(value='San Luis') San Luis
                      option(value='San Martin de Porres') San Martin de Porres
                      option(value='San Miguel') San Miguel
                      option(value='Santa Anita') Santa Anita
                      option(value='Santiago de Surco') Santiago de Surco
                      option(value='Surquillo') Surquillo
                  
                .trform
                  input#formB1direccion(maxlength='55', name='formB1direccion', placeholder='Dirección', type='text').inputtext
                  
                //.trform
                  input#formB1referencia(maxlength='55', name='formB1referencia', placeholder='Lugar de Referencia', type='text').inputtext
                  

                .trform
                  .wrapper-checked
                    .checkbox.checked
                      input#formB1terminos(checked='checked', name='formB1terminos', type='checkbox', value='on')
                    p.label
                      | Acepto los 
                      a.link(href='documents/80379/1184518/T%C3%A9rminos_y_Condiciones_Preventa_S6.pdf/0d50c726-c292-45f0-946a-ee0fc2a95528', target='_blank') términos y condiciones
                      |  de uso y proteción de datos
                .trform
                  .wrapper-checked
                    .checkbox.checked
                      input#formB1pdatos(checked='checked', name='formB1pdatos', type='checkbox', value='on')
                    p.label
                      | Autorizo la política de 
                      a.link(href='http://www.movistar.com.pe/proteccion-datos', target='_blank') protección de datos
                .trform
                  input.btn.atm-preventa-boton(type='button', value='Enviar')
          
          // Formulario para RUC No Registrado
          #formB2.formBox
            .row-fluid
              .span6.xs-span-12.xxs-span-12
                .row-fluid
                  .span12
                    .wrapper-text
                      | ¿Cuántos equipos deseas ordenar?
                .trform
                  .pulldown
                    .pulldown-text Cantidad de Equipos
                    select#formB2numerocelulares(name='formB2numerocelulares')
                      option(value='') Cantidad de Equipos
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                      option(value='mas de 5') más de 5
                  

                .row-fluid
                  .span12
                    br/
                    .wrapper-text
                      | Cuéntanos de ti
                .trform
                  input#formB2razonsocial(maxlength='100', name='formB2razonsocial', placeholder='Razón Social', type='text').inputtext
                  
                .trform
                  input#formB2representantelegal(maxlength='55', name='formB2representantelegal', placeholder='Representante Legal', type='text').inputtext
                  
                .trform
                  input#formB2direccionfiscal(maxlength='55', name='formB2direccionfiscal', placeholder='Dirección Fiscal', type='text').inputtext
                  
                .trform
                  input#formB2emailrepresentante(maxlength='50', name='formB2emailrepresentante', placeholder='Email del Representante Legal', type='text').inputtext
                  
                .trform
                  input#formB2celularlegal(maxlength='9', name='formB2celularlegal', placeholder='Celular de contacto del representante Legal', type='text').inputtext
                  
                
              // Right  
              .span6.xs-span-12.xxs-span-12
                .row-fluid
                  .span12
                    .wrapper-text
                      | ¿Dónde quieres que llevemos tu equipo? **
                .trform
                  .pulldown
                    .pulldown-text Distrito
                    select#formB2distrito(name='formB2distrito')
                      option(value='') Distrito
                      option(value='Ate') Ate
                      option(value='Barranco') Barranco
                      option(value='Breña') Breña
                      option(value='Carabayllo') Carabayllo
                      option(value='Chorrillos') Chorrillos
                      option(value='Comas') Comas
                      option(value='Independencia') Independencia
                      option(value='Jesús María') Jesús María
                      option(value='La Molina') La Molina
                      option(value='La Victoria') La Victoria
                      option(value='Lince') Lince
                      option(value='Los Olivos') Los Olivos
                      option(value='Magdalena del Mar') Magdalena del Mar
                      option(value='Miraflores') Miraflores
                      option(value='Pueblo Libre') Pueblo Libre
                      option(value='Rimac') Rimac
                      option(value='San Borja') San Borja
                      option(value='San Isidro') San Isidro
                      option(value='San Juan de Lurigancho') San Juan de Lurigancho
                      option(value='San Luis') San Luis
                      option(value='San Martin de Porres') San Martin de Porres
                      option(value='San Miguel') San Miguel
                      option(value='Santa Anita') Santa Anita
                      option(value='Santiago de Surco') Santiago de Surco
                      option(value='Surquillo') Surquillo
                  
                .trform
                  input#formB2direccion(maxlength='55', name='formB2direccion', placeholder='Dirección', type='text').inputtext
                  
                //.trform
                  input#formB2referencia(maxlength='55', name='formB2referencia', placeholder='Lugar de Referencia', type='text').inputtext
                  

                .trform
                  .wrapper-checked
                    .checkbox.checked
                      input#formB2terminos(checked='checked', name='formB2terminos', type='checkbox', value='on')
                    p.label
                      | Acepto los 
                      a.link(href='http://cms.movistar.com.pe/documents/80379/1184518/T%C3%A9rminos_y_Condiciones_Preventa_S6.pdf/0d50c726-c292-45f0-946a-ee0fc2a95528', target='_blank') términos y condiciones
                      |  de uso y proteción de datos
                .trform
                  .wrapper-checked
                    .checkbox.checked
                      input#formB2pdatos(checked='checked', name='formB2pdatos', type='checkbox', value='on')
                    p.label
                      | Autorizo la política de 
                      a.link(href='http://www.movistar.com.pe/proteccion-datos', target='_blank') protección de datos
                .trform
                  input.btn.atm-preventa-boton(type='button', value='Enviar')


          input(type="hidden", value="")#tipoformulario

      
      #msg.row-fluid.dn.msgdni
        .span1.hidden-phone
        .span10.xs-span-12.xxs-span-12
          p 
            img(alt='', src='#{url}/documents/80379/2947559/check_confirm.png/0acc6c48-9a70-486d-9c07-128f9f7081dc?t=1444753978534')
          h3 ¡Tus datos fueron guardados con éxito!
          .content
            p.title
              strong ¡Recuerda!
            p.text Estos son los pasos para adquirir tu iPhone 6S o 6S Plus:
            .detalle
              .box
                .ico
                  img(src="#{url}/documents/80379/2947559/ico_dni01.png/53c4ecf8-8bcb-4af7-99d0-23ff28964b6b?t=1444753978817", alt="")
                p Nos contactaremos contigo*
              .box
                .ico
                  img(src="#{url}/documents/80379/2947559/ico_dni02.png/12cceed4-fd81-4b31-bbc9-8852fe4f7516?t=1444753979094", alt="")
                p Te visitaremos para concretar tu compra**
              .box
                .ico
                  img(src="#{url}/documents/80379/2947559/ico_dni03.png/b1431811-070c-4b19-92ad-c6f7a6788808?t=1444753978238", alt="")
                p Te enviaremos gratis tu iPhone 6S a partir del 06/11/2015 o te lo daremos en el evento de lanzamiento si eres de los primeros 200 en comprar.
            br
            p.text(style="font-size:14px;") Uno de nuestros asesores se pondrá en contacto contigo desde este número 941854602 para terminar el proceso de compra.

          #back.backdni
            p.button-text Regresar
        .span1.hidden-phone.hidden-tablet

      #msg.row-fluid.dn.msgruc
        .span1.hidden-phone
        .span10.xs-span-12.xxs-span-12
          p 
            img(alt='', src='#{url}/documents/80379/2947559/check_confirm.png/0acc6c48-9a70-486d-9c07-128f9f7081dc?t=1444753978534')
          h3 ¡Tus datos fueron guardados con éxito!
          .content
            p.text Uno de nuestros asesores de venta especializados se comunicará 
              br
              | contigo en breve para coordinar la preventa.
            br
            p.text Muchas gracias por tu preferencia

          #back.backruc
            p.button-text Regresar
        .span1.hidden-phone.hidden-tablet
      
       

  .row-fluid#terminosdown
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info Solicitud de equipo sujeto a disponibilidad de stock. Stock: 50 unidades
  .row-fluid
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info.large
        | Promoción válida  solo en Lima del 30/10/15  al 05/11/15 para líneas nuevas, renovaciones o portabilidad de clientes residenciales y/o negocios con RUC 10. Stock: 50 unidades. Sujeto a evaluación crediticia.
  .row-fluid
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info.large
        | El Programa Inteligente incluye Plan de servicios + membresía + seguro Movistar con acuerdo de adquisición de equipos a 18 meses. Renovación gratis después de los 12 meses a cambio del equipo del cliente, válido solo para clientes inscritos al Programa inteligente Movistar que se encuentren al día en el pago de su plan, membresía y Movistar Seguro.
  .row-fluid
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info.large
        | Para planes vuela, los minutos todo destino incluyen minutos Movistar-Movistar, Movistar –Fijo (no incluye operadores rurales), Movistar- otros operadores, Movistar- larga Distancia Internacional. Las llamadas internacionales a Todo destino solo aplican a Estados Unidos y Canadá, marcado previamente el código 1911. El RPM ilimitado incluido en el plan permite llamar ilimitadamente a otros RPM Móvil, un máximo de 250 minutos a teléfonos fijos, y un máximo de 100 minutos a RPM Prepago, con una duración de 10 minutos cada llamada en cualquiera de los tipos.

  .row-fluid
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info.large
        | *Clientes con evaluación crediticia aprobada serán contactados telefónicamente, de lo contrario recibirán un correo electrónico indicando el motivo de no aprobación de su pedido.
  
  .row-fluid
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info.large
        | ** Para concretar la venta el cliente deberá realizar el pago anticipado de su equipo, firmar los contratos correspondientes y recibirá su simcard activo.
  .row-fluid
    .span12.xs-span-12.xxs-span-12(style="min-height: initial;")
      p.info.large
        | Preventa válida solo para Lima.
