$url:'http://cms.movistar.com.pe';
//$url:'';
@import "compass/css3";
// @import "../utiles/fontsTelf";
$fontText: 'Telefonica-Regular', sans-serif;
$fontTextExtraLight: 'Telefonica-ExtraLight', sans-serif;
$fontTextLight: 'Telefonica-Light', sans-serif;
$fontTextBold: 'Telefonica-Bold', sans-serif;
$linkcolor: #0085c3;
$blue:#005c84;
$lightBlue: #27a4d5;

*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}
body{
  height: auto;
}

// @import "../utiles/fix-ios";
.aui .modulo-a{
  margin-bottom: 0;
}
.aui .modulo-a .contenido-no-estructurado{
  padding: 0;
  max-width: 1170px;
  margin: 0 auto;
  #wrapper{
    position: relative;
  }
  .hidden-pc{
    display: inline-block;
    display: none\9;
  }
  .hidden-mobile{
    display: none;
    display: inline-block\9;
  }
  input[type="text"].form-input{
    display: block;
    width: 100%;
    max-width: 100% !important;
    height: 32px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: normal\9;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: $fontText;
    margin-bottom: 4px;
    @include input-placeholder{
      color:#c9c9c9;
    }
    &.error{
      border: 1px solid #ff0000;
      @include input-placeholder{
        color:#ff0000;
      }
    }
    &:disabled{
      @include opacity(0.6);
    }
  }
  .trform{
    margin: 20px 0;
    label{
      vertical-align: middle;
      font-size: 16px;
      font-weight: normal;
      color: #515559;
      font-family: $fontText;
      text-align: left;
    }
    label.error{
      font-size: 14px;
      color:#ff0000;
      line-height: normal;
      font-family: $fontText;
    }
  }
  #form-atach{
    display: none;
  }
  #caceria-premios{
    display: none;
    background-image: url($url+"/documents/80379/4204452/bg_caceria.jpg/87aeb6fc-3b7a-47ba-aeb6-718da6e1f1d8?t=1468513420973");
    background-size: cover;
    .concurso-wrapper{
      padding: 30px 25px;
      text-align: center;
    }
    h2{
      font-size: 18px;
      font-family: $fontTextLight;
      color:#ffffff;
      line-height: normal;
      padding: 0 4px;
      padding-bottom: 10px;
      strong{
        font-family: $fontTextBold;
      }
    }
    p.text{
      color:#fff;
      font-size: 16px;
      font-family: $fontText;
    }
    .banner-img{
      padding: 0 42px 20px 42px;
      text-align: center;
    }
    .number-register{
      font-family: 'Telefonica-Bold', sans-serif;
      color: #fff;
      padding-top: 10px;
      text-decoration: underline;
    }
    #btnsend{
      padding: 8px 40px;
      text-align: center;
      background-color: #7ab700;
      color:#ffffff;
      font-size: 16px;
      font-family: $fontText;
      border:0;
      border-radius: 6px;
      margin-top: 10px;
      outline: none;
      &:disabled{
        @include opacity(0.6);
      }
      &:active, &:hover{
        outline: none;
      }
    }
    .thank-you{
      display: none;
      position: relative;
      top:0;
      padding: 120px 0;
      @include transition(all 0.3s ease-in-out);
      &.show{
        top: -40px;
        @include transition(all 0.3s ease-in-out);
      }
      h3{
        color:#ffffff;
        font-family: $fontTextBold;
        line-height: normal;
        margin-top: 10px;
        padding-bottom: 10px;
        .ico{
          padding-right: 12px;
        }
      }
      p.text{
        color:#ffffff;
        margin-bottom: 10px;
        strong{
          font-family: $fontTextBold;
        }
      }
    }
    #trans-error {
      display: none;
      color: #fff;
      font-family: $fontTextBold;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
    }
  }
}
